/vendor
/node_modules
/public/storage
/storage/proxies
Homestead.yaml
Homestead.json
/bin
.vagrant
.env
.env.example
.idea
dump.rdb
npm-debug.log
_ide_helper.php
/storage/debugbar
=======
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml