packages:
  yum:
    telnet: []
    php70-zip: []

commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
  02_allow_sudo_without_tty:
    command: echo Defaults:root \!requiretty >> /etc/sudoers

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"
  02chmod_vendor_dir:
    command: sudo chmod -R 777 /var/app/ondeck/storage
  03chmod_bootstrap_dir:
    command: sudo chmod -R 777 /var/app/ondeck/bootstrap/cache