commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/tmp/auth.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory /var/www/html/public>
        AuthType Basic
        AuthName VinciHomolog
        AuthUserFile /etc/httpd/.htpasswd
        Require valid-user
      </Directory>

  "/opt/elasticbeanstalk/hooks/appdeploy/post/custom_post_jobs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/current
      php artisan config:cache

  "/opt/elasticbeanstalk/hooks/appdeploy/post/custom_post_jobs2.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ "$APP_ENV" = "homolog" ]
        then
          htpasswd -b -c /etc/httpd/.htpasswd webeleven w11homolog
          mv /tmp/auth.conf /etc/httpd/conf.d/auth.conf
      fi