files:
  "/tmp/auth.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory /var/www/html/public>
        # set an environtment variable "noauth" if production URL
        SetEnvIf HTTP_HOST ^www.vinci.com.br noauth=1

        # the auth block
        AuthType Basic
        AuthName "Please login"
        AuthUserFile /etc/httpd/.htpasswd
        Require valid-user

        # here is where we allow/deny
        Order Deny,Allow
        Satisfy any
        Deny from all
        Require valid-user
        Allow from env=noauth
      </Directory>

  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ "$AUTH_BASIC" = "enable" ]
        then
          htpasswd -b -c /etc/httpd/.htpasswd webeleven w11homolog
          mv /tmp/auth.conf /etc/httpd/conf.d/auth.conf
      else
        rm -f /etc/httpd/conf.d/auth.conf
      fi

container_commands:
  01_create_htpasswd:
    command: /home/ec2-user/setup.sh