packages: 
  yum:
    newrelic-php5: []
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm

container_commands:
  01_newrelic_php1:
    command: sudo newrelic-install install
    env:
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: ca6cc8d942ab9e9374a01a8e038d141599a5b6e9
  02_newrelic_php2:
    command: echo newrelic.appname="Vinci" >> /etc/php-7.0.d/newrelic.ini
  03_newrelic_php3:
    command: echo newrelic.license="ca6cc8d942ab9e9374a01a8e038d141599a5b6e9" >> /etc/php-7.0.d/newrelic.ini
  04_newrelic_server1:
    command: sudo nrsysmond-config --set license_key=ca6cc8d942ab9e9374a01a8e038d141599a5b6e9
  05_newrelic_server2:
    command: sudo /etc/init.d/newrelic-sysmond start