# https://docs.newrelic.com/docs/agents/php-agent/frameworks-libraries/aws-elastic-beanstalk-installation-php
packages: 
  yum:
    newrelic-php5: []
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm

container_commands:
  01_newrelic_php1:
    command: sudo newrelic-install install
    env:
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: $NEWRELIC_KEY
  02_newrelic_php2:
    command: echo newrelic.appname="Vinci" >> /etc/php-7.0.d/newrelic.ini
  03_newrelic_php3:
    command: echo newrelic.license="$NEWRELIC_KEY" >> /etc/php-7.0.d/newrelic.ini
  04_newrelic_server1:
    command: sudo nrsysmond-config --set license_key=$NEWRELIC_KEY
  05_newrelic_server2:
    command: sudo /etc/init.d/newrelic-sysmond start