files:
  "/tmp/phpredis.zip":
    mode: "000644"
    owner: root
    group: root
    source: https://s3-sa-east-1.amazonaws.com/web11-cookbooks/phpredis.zip

  "/etc/php-7.0.d/redis.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      extension=redis.so
      session.save_handler = redis
      session.save_path = "$REDIS_HOST:$REDIS_PORT?weight=1"

container_commands:
  01_installigbinary:
    command: "sudo pecl install igbinary"
    ignoreErrors: true
  02_unzipphpredis:
    command: "unzip phpredis.zip"
    cwd: "/tmp"
    ignoreErrors: true
  03_phpizeredis:
    command: "phpize"
    cwd: "/tmp/phpredis-master"
  04_configureredis:
    command: "sudo ./configure --enable-redis-igbinary &> /tmp/phpredis.log"
    cwd: "/tmp/phpredis-master"
  05_makeredis:
    command: "sudo make install &> /tmp/phpredis.log"
    cwd: "/tmp/phpredis-master"
  06_cleanup:
    command: "sudo rm -rf phpredis*"
    cwd: "/tmp"
    ignoreErrors: true
  07_bounceapache:
    command: "sudo apachectl restart"
    ignoreErrors: true