files:
  "/etc/php-7.0.d/redis.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      extension=redis.so
      session.save_handler = redis
      session.save_path = "${REDIS_HOST}:${REDIS_PORT}?weight=1"

container_commands:
  01_gitclone:
    command: git clone https://github.com/phpredis/phpredis.git
    cwd: "/tmp"
    ignoreErrors: true
  02_gitcheckout:
    command: git checkout php7
    cwd: "/tmp/phpredis"
    ignoreErrors: true
  03_phpizeredis:
    command: "phpize"
    cwd: "/tmp/phpredis"
  04_configureredis:
    command: "sudo ./configure"
    cwd: "/tmp/phpredis"
  05_makeredis:
    command: "sudo make && sudo make install"
    cwd: "/tmp/phpredis"
  06_cleanup:
    command: "sudo rm -rf phpredis*"
    cwd: "/tmp"
    ignoreErrors: true
  07_bounceapache:
    command: "sudo apachectl restart"
    ignoreErrors: true