files:
  "/home/ec2-user/redis.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars
      file="/etc/php-7.0.d/redis.ini"
      if [ -f "$file" ]
      then
        sudo rm "$file"
      fi
      echo "extension=redis.so" >> "$file"
      echo "session.save_handler = redis" >> "$file"
      echo "session.save_path = $REDIS_HOST:$REDIS_PORT?weight=1" >> "$file"

container_commands:
  01_gitclone:
    command: git clone https://github.com/phpredis/phpredis.git
    cwd: "/tmp"
    ignoreErrors: true
  02_gitcheckout:
    command: git checkout php7
    cwd: "/tmp/phpredis"
    ignoreErrors: true
  03_phpizeredis:
    command: "phpize"
    cwd: "/tmp/phpredis"
  04_configureredis:
    command: "sudo ./configure"
    cwd: "/tmp/phpredis"
  05_makeredis:
    command: "sudo make && sudo make install"
    cwd: "/tmp/phpredis"
  06_cleanup:
    command: "sudo rm -rf phpredis*"
    cwd: "/tmp"
    ignoreErrors: true
  07_bounceapache:
    command: "sudo apachectl restart"
    ignoreErrors: true
  08_create_redis_config:
    command: /home/ec2-user/redis.sh