files:
  "/home/ec2-user/workers.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ "$APP_ENV" = "homolog" ] ||  [ "$APP_ENV" = "cronjobs" ]
        then
          . /opt/elasticbeanstalk/support/envvars
          sudo pkill -f artisan
          cd /var/app/current
          nohup php artisan doctrine:queue:work sqs --queue="${QUEUE_CUSTOMERS_EMAILS}" --tries=3 --daemon > /dev/null 2>1 &
          nohup php artisan doctrine:queue:work sqs --queue="$QUEUE_ORDERS_EMAILS" --tries=3 --daemon > /dev/null 2>1 &
          /bin/bash -l -c "nohup php artisan doctrine:queue:work sqs --queue=${QUEUE_CUSTOMERS_INTEGRATION},$QUEUE_ORDERS_INTEGRATION --daemon > /dev/null 2>1 &"
          /bin/bash -l -c "nohup php artisan doctrine:queue:work sqs --queue=$QUEUE_PRODUCTS_ELASTICSEARCH --daemon > /dev/null 2>1 &"
      fi