files:
  "/tmp/cronjobs" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      * * * * * root . /opt/elasticbeanstalk/support/envvars && php /var/app/current/artisan schedule:run >> /dev/null 2>1
      0 6 * * 0 ( sleep 1 ; echo 'FLUSHALL' ; sleep 1 ; echo 'quit' ) | telnet $REDIS_HOST $REDIS_PORT
    encoding: plain

  "/tmp/crontab.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ "$CRONTAB" = "enable" ]
        then
          sudo crontab /tmp/cronjobs
      fi

container_commands:
  01_remove_cron_jobs:
    command: sudo crontab -r || exit 0
  02_add_cron_jobs:
    command: /tmp/crontab.sh