.bgSet {
    background-color: #fff;
    padding: 6px;
    color: #F97800
}

.dv-publicar {
    position: relative;
    padding: 4px 7px;
    margin-bottom: 18px;
    color: #404040;
    background-color: #eedc94;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
    background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
    background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    background-image: -o-linear-gradient(top, #fceec1, #eedc94);
    background-image: linear-gradient(top, #fceec1, #eedc94);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #eedc94 #eedc94 #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.dv-categ {
    position: relative;
    padding: 4px 7px;
    margin-bottom: 18px;
    color: #404040;
    background-color: #eaeaea;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
    background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
    background-image: linear-gradient(top, #f9f9f9, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eaeaea', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #eaeaea #eaeaea #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.tb-categ .titulo {
    padding: 2px 2px 2px;
    line-height: 18px;
    text-align: left;
}

.dv-clientes {
    position: relative;
    padding: 4px 7px;
    margin-bottom: 18px;
    color: #404040;
    background-color: #fef7f8;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fef7f8), to(#fef7f8));
    background-image: -moz-linear-gradient(top, #fef7f8, #fef7f8);
    background-image: -ms-linear-gradient(top, #fef7f8, #fef7f8);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef7f8), color-stop(100%, #fef7f8));
    background-image: -webkit-linear-gradient(top, #fef7f8, #fef7f8);
    background-image: -o-linear-gradient(top, #fef7f8, #fef7f8);
    background-image: linear-gradient(top, #fef7f8, #fef7f8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef7f8', endColorstr='#fef7f8', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #fef7f8 #fef7f8 #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.bdFt {
    -moz-box-shadow: 2px 1px 4px 0.5px #BABABA;
    -webkit-box-shadow: 2px 1px 4px 0.5px #BABABA;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#B9B9B9', Direction=180, Strength=3);
    border: 2px solid #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.red {
    color: #D14;
}

.blue {
    color: #09F;
}

.green {
    color: #46A546;
}

#dv_videos p, #dv_audios p {
    color: rgb(87, 87, 87);
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
}

#dv_lnks img {
    padding: 10px 4px 10px 0px !important;
    float: left
}

#dv_lnks a {
    display: block;
    padding: 18px 0px 13px 0px;
    float: left;
    font-size: 14px;
}

#dv_links_itens {
    float: left;
    width: 100%;
    border-bottom: 1px dashed #eaeaea;
    margin-top: 5px;
}

#dv_audios {
    clear: both
}

#dv_audios p {
    float: left;
    width: 100%;
}

#dv_audios p object {
    margin-top: 10px;
}

.fotos p {
    font-family: "Droid Sans", sans-serif;
    font-size: 12px
}

.fotos strong {
    font-size: 14px;
}

#dv_catg {
    float: left;
    width: 100%;
    margin-top: 10px;
}

#dv_catg p {
    font-family: "Droid Sans", sans-serif;
    font-size: 12px
}

#dv_catg strong {
    font-size: 14px;
}

li.stripe-even {
    background-color: #fcffdf;
}

li.stripe-odd {
    background-color: #f9f9f9;
}

ul.nvLink {
    margin: 0 0 0 0;
    list-style: none;
}

ul.nvLink li {
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #EAEAEA;
    padding-bottom: 11px;
}

ul.nvLink li:hover {
    background-color: #f1f1f1;
}

ul.odLink {
    margin: 0 0 0 0;
    list-style: none;
}

ul.odLink li {
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #EAEAEA;
    background-color: #f9f9f9;
}

ul.odLink li:hover {
    background-color: #f1f1f1;
}

ul.ListUl {
    margin: 0 0 0 0;
    list-style: none;
}

ul.ListUl li {
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #EAEAEA;
    padding-bottom: 11px;
}

ul.ListUl li:hover {
    background-color: #f1f1f1;
}

ul.ListUl {
    margin: 0 0 0 0;
    list-style: none;
}

ul.ListUl li {
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #EAEAEA;
    padding-bottom: 11px;
}

ul.ListUl li:hover {
    background-color: #f1f1f1;
}

ul.nvPRel {
    margin: 0 0 0 0;
    list-style: none;
}

ul.nvPRel li {
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #EAEAEA;
    padding-bottom: 11px;
}

ul.nvPRel li:hover {
    background-color: #f1f1f1;
}

ul.nvPRel {
    margin: 0 0 0 0;
    list-style: none;
}

ul.nvPRel li {
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #EAEAEA;
    padding-bottom: 11px;
}

ul.nvPRel li:hover {
    background-color: #f1f1f1;
}

ul.odClns {
    margin: 0 0 0 0;
    list-style: none;
}

ul.odClns li {
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #EAEAEA;
    background-color: #f9f9f9;
}

ul.odClns li:hover {
    background-color: #f1f1f1;
}

#myListGal td small {
    font-size: 11px;
    color: #575757;
}

#dv_tempo ul li span {
    color: #575757;
    font-size: 12px;
    display: block;
    float: left;
    margin-top: 45px;
    margin-right: 10px;
}

#dv_tempo ul li {
    color: #cc3333;
    font-size: 50px;
    float: left;
    list-style-type: none;
    margin-top: 12px;
}

#dv_tempo ul li:last-child {
    color: #CCC;
    font-size: 50px;
    float: left;
    border-left: 1px solid #CCC;
    margin-left: 15px;
    padding-left: 15px;
    border-right: 1px solid #CCC;
    padding-right: 22px;
}

#dv_tempo ul {
    margin: 0px auto;
    width: 281px;
    overflow: hidden;
    background-color: #F9F9F9;
    margin-left: 0px;
    height: 92px;
    padding-left: 7px;
    padding-top: 12px;
}

#dv_tempo h3 {
    text-align: center;
    color: #575757;
    font-size: 12px;
}

#dv_tempo h3 span {
    text-align: center;
    color: #000;
    font-size: 12px;
}

#dv_tempo {
    border-radius: 3px;
    border: 1px solid #fff;
}

#dv_tempo_title {
    background: #F2FAFC;
    height: 33px;
    width: 99%;
    float: left;
    padding-left: 5px;
}

#dv_tempo {
    width: 100%;
    border-top: 2px solid #15ade0;
    float: left;
    font-size: 20px;
    color: #15ade0;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 23px;
}

#dv_tempo p {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #999;
    clear: both;
    padding-top: 15px;
}

#dv_tempo h2 {
    color: #FF9C00;
    font-size: 20px;
    float: left;
    font-weight: normal;
}

#dv_prox {
    float: left;
    width: 49px;
    font-size: 14px;
    margin-left: 11px;
}

#dv_prox p {
    font-size: 12px;
    color: #999;
    clear: both;
}

#dv_prox small {
    font-size: 10px;
    color: #575757;
    clear: both;
}

#dv_tempo_atual {
    font-size: 12px;
    color: #999;
    font-weight: normal;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    line-height: 18px;
}

#dv_tempo_atual strong {
    font-size: 12px;
    color: #C00;
}

#dv_hoje {
    float: left;
    width: 300px;
}

#dv_hoje h5 {
    font-size: 14px;
    clear: both;
    width: 94%;
    background-color: #f1f1f1;
    padding-left: 6px;
    border-top: 1px solid #CCC;
}

#myListX tbody tr:hover {
    cursor: move;
}

.center {
    text-align: center;
}

.mgTop50{
    margin-top: 50px;
}

.mgTop10{
    margin-top: 10px;
}

.pdTop12{
    padding-top: 12px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* menu */

.nav-side-menu {
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #364252;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.nav-side-menu .brand {
    background-color: #2c3643;
    line-height: 40px;
    display: block;
    text-align: center;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}
.nav-side-menu ul .collapsed .arrow:before,
.nav-side-menu li .collapsed .arrow:before {
    font-family: FontAwesome;
    content: "\f053";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #44b6ae;
    background-color: #5e7390;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #1AAE98;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #222933;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #2c3643;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #364252;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu ul .sub-sub-menu li:before,
.nav-side-menu li .sub-sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105 \f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #364252;
    border-bottom: 1px solid #2c3643;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #FFF;
    background-color: #5e7390;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-side-menu .menu-list .menu-content {
    display: block;
}

.black{
    color: #000;
}

.gray{
    color: #575757;
}

.brand {
    padding-bottom: 10px;
    padding-top: 10px;
}

.pnList {
    padding: 8px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}

/*.datetime_limited{*/
/*margin-left: -20px;*/
/*}*/

.dv-categ ul li{
    list-style-type: none;
}

.dv-sites {
    position: relative;
    padding: 4px 7px;
    margin-bottom: 18px;
    background-color: #eaeaea;
    border: 1px solid #cccccc;
}

.dv-sites ul li { display: inline; list-style-type: none; }

.Publicado {  color: green;  }
.Rascunho {  color: #31708f;  }
.Excluido {  color: red;  }

.trumbowyg-box, .trumbowyg-editor {
    width: 100% !important;
}

.trumbowyg-box.trumbowyg-editor-visible.trumbowyg-en.trumbowyg {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 5px auto;
}

.btn-warning-pastel {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

/* select2 */
span.select2-selection.select2-selection--single {
    height: 46px !important;
    border-color: #ccc !important;
}

span#select2-parent_id-container {
    line-height: 46px;
}

span.select2-selection__arrow {
    height: 46px !important;
    top: 1px !important;
    right: 5px !important;
}

span#select2-parent_id-container {
    font-size: 18px;
    color: #555;
}

span.select2-container.select2-container--default.select2-container--open {
    font-size: 18px;
    color: #555;
}