<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^vinci.com.br$ [or]
    RewriteCond %{HTTP_HOST} ^vincivinhos.com.br$ [or]
    RewriteCond %{HTTP_HOST} ^www.vincivinhos.com.br$ [or]
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteCond %{HTTP_HOST} !^www2.vinci.com.br$
    RewriteRule ^(.*)$ https://www.vinci.com.br/$1 [R=301,L]

    # Países
    RewriteRule ^CountryList\.aspx$ /redirect [L,R=301]

    # Home E-commerce
    RewriteRule ^(default|contentindex)\.aspx$ / [L,R=301]

    # Página de Categoria e Produto
    RewriteRule ^(dept|Product|contentpageitem|(content|product)recommend)\.aspx.*$ / [L,R=301]

    # Páginas Institucionais
    RewriteRule ^contact\.aspx$ /atendimento/ [L,R=301]
    RewriteRule ^statictext\.aspx$ /institucional/sobre-a-vinci? [L,R=301]
    RewriteRule ^phonesell\.aspx$ /institucional/revendedores [L,QSA,R=301]

    # Outras Páginas
    RewriteRule ^(basket|newsletter|wishlistsearch|OrderCustomer|Login|searchresults)\.aspx.*$ / [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Redirect if access via index.php
    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule ^(.*?)index\.php[^/] /$1? [L,R=301,NC,NE]

    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule ^(.*?)index\.php(?:/(.*))?$ /$1$2? [L,R=301,NC,NE]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # set an environtment variable "noauth" if production URL
    SetEnvIf HOST ^(www.vinci.com.br|vinci.com.br|vincivinhos.com.br|www.vincivinhos.com.br|vinci.localhost.com) noauth=1

    # the auth block
    AuthType Basic
    AuthName "Please login"
    AuthUserFile /tmp/.htpasswd
    Require valid-user
		
    # here is where we allow/deny
    Order Deny,Allow
    Satisfy any
    Deny from all
    Require valid-user
    Allow from env=noauth

</IfModule>


# extensao.ico .pdf .flv
<FilesMatch "\.(ico|pdf|flv)$">
Header set Cache-Control "max-age=300, public"
</FilesMatch>

# extensao.jpg .jpeg .png .gif .swf
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 days"
  Header append Cache-Control "public"
</FilesMatch>

# extensao .woff
<FilesMatch "\.(woff)$">
Header set Cache-Control "max-age=300, public"
</FilesMatch>

# extensao.htm .html .php
<FilesMatch "\.(html|htm|txt)$">
Header set Cache-Control "max-age=300, private, proxy-revalidate"
</FilesMatch>

SetOutputFilter DEFLATE

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>