<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteBase /

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Países
    RewriteRule ^CountryList.aspx /redirect [L,R=301]

    # Home E-commerce
    RewriteRule ^(default|contentindex).aspx / [L,R=301]

    # Página de Categoria e Produto
    RewriteRule ^(dept|Product|contentpageitem|(content|product)recommend).aspx.* / [L,R=301]

    # Páginas Institucionais
    RewriteRule ^contact.aspx /fale-conosco/ [L,R=301]
    RewriteRule ^statictext.aspx /sobre-vinci [L,QSA,R=301]
    RewriteRule ^phonesell.aspx /revendedores [L,QSA,R=301]

    # Outras Páginas
    RewriteRule ^(basket|newsletter|wishlistsearch|OrderCustomer|Login|searchresults).aspx.* / [L,R=301]

    RewriteRule ^ index.php

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>
