
footer{
	display: inline-block;
	width: 100%;
	margin-top: 30px;

}
.row-footer{
	padding-bottom:20px;
	border-bottom:1px solid #7f7f7f;
	margin-bottom: 25px;
	width:100%;
	display:inline-block;
	h4{
		font-family: 'roboto_condensedbold';
		font-size:15px;
		text-transform:uppercase;
	}
}
.list-links-clients{
	li{
		float:left;
		margin:0 45px 0 0;
		@media #{$screen-767}{
			float:none;
			margin:0 0 10px 0;
		}
	}
	li+li+li{
		float:right;
		margin:0 0 0 45px;
		@media #{$screen-767}{
			float:none;
			margin:0 0 10px 0;
		}
	}
}

.phone-mobile{
	@media #{$screen-767}{
		display:block;
	}
}

.two-cols.buy-phone{
	li{
		@media #{$screen-767}{
			width:100%;
			margin-bottom: 20px;
		}
	}
	li+li{
		@media #{$screen-940}{
			text-align:right;
		}
		@media #{$screen-767}{
			margin-bottom:0;
			text-align:left;
		}
	}
}

a.link-light{
	font-size:15px;
	text-transform:uppercase;
	color:#000;

}

.two-cols{
	display: inline-block;
	width: 100%;
	li{
		width:50%;
		float:left;
		span{
			font-size: 15px;
			color:#5e057b;
			text-transform:uppercase;
			font-family: 'roboto_condensedbold';
		}
	}
	li+li{
		span{
			color:#de1e43;
		}
	}
}

.links-main-footer{
	margin-top:10px;
	@media #{$screen-767}{
		margin:0;
	}
	li{
		margin-bottom: 10px;

	}
}

.m-bottom20{margin-bottom: 20px;}

.wrap-links-footer{
	width:77%;
	float:left;
	h4{
		@media #{$screen-767}{
			margin-bottom:10px;
		}
	}
	@media #{$screen-767}{
		width:100%;
		border-bottom:1px solid #7f7f7f;
		margin-bottom:15px;
		padding-bottom:10px;
	}
	ul{
		width:33%;
		float:left;
		@media #{$screen-767}{
			width:100%;
		}
	}
}

.two-cols.address{
	p{
		font-size:15px;
	}
	li{
	@media #{$screen-940}{
		width:100%;
		margin-bottom:20px;
	}
}
li+li{
	margin-bottom:0;
}
}

.logo-footer{
	height:24px;
	width:238px;
	display:inline-block;
	background-position: 0 -40px;
	margin-top: 20px;
}

.newsletter{
	width:22%;
	float:left;
	@media #{$screen-767}{
		width:100%;
	}
	h4{
		color:#11b6f0;
	}

}
.input-newsletter{
	border:1px solid #000;
	padding: 9.5px 5px;
	width:100%;
	margin-top:10px;
	text-transform:uppercase; 
}
.bt-newsletter{
	width:100%;
	text-align:center;
	padding:7px 0;
	background:#1198e3;
	border:0;
	font-family: 'roboto_condensedbold';
	color:#fff;
	font-size:16px;
	margin-top: 10px;
}
.error-newsletter{
	font-size: 14px;
	color: red;
}

.copyright{
	margin-top:-10px;
	p{
		font-size:13px;
		a{
			color:#000;
		}
	}
	li{
		@media #{$screen-767}{
			display:block;
			width:100%;
		}
	}
	li+li{
		text-align:right;
		@media #{$screen-767}{
			text-align:left;
			margin-top:15px;
		}
	}
}

.info-content-site{
	font-size:13px;
}

::-webkit-input-placeholder {
	color: #000;
	font: 15px;
}

:-moz-placeholder {
	color: #000;
	font: 15px;
}

::-moz-placeholder {
	color: #000;  
	font: 15px;
}

:-ms-input-placeholder {  
	color: #000;  
	font: 15px;
}