
/*Medias*/
$screen990: "only screen and (max-width :990px)";
$screen970: "only screen and (max-width :970px)";
$screen767: "only screen and (max-width :767px)"; 

@media only screen and (max-width: 1100px){
	.favorite {
		opacity: 1!important;
		filter: alpha(opacity=100)!important;
	}
}

@media only screen and (max-width :990px){
	.cols-products+.cols-products+.cols-products+.cols-products{
		display:none;
	}
	.featured-products{
		text-align:center;
	}


}