
/*Medias*/
$screen-940: "only screen and (max-width :940px)";
$screen-767: "only screen and (max-width :767px)";


@media only screen and (max-width :990px){
	.cols-products+.cols-products+.cols-products+.cols-products{
		display:none;
	}
	.featured-products{
		text-align:center;
	}
}