@import "reset";
@import "variaveis";
@import "media";
@import "fonts";
@import "menu";
@import "templates"; 
@import "footer";

body {
	font-family: $robotolight;
}
.show-desktop{
	@media #{$screen-767}{
		display:none !important;
	}
}
.show-mobile{
	display:none !important;
	@media #{$screen-767}{
		display:inline-block !important;
	}
}
.row.top90{
	    margin: 90px auto 0;
}

.row {
	max-width: 963px;
	margin:0 auto;
	padding:0 10px;
	@media #{$screen-767}{
		padding:0 15px;
	}
}

.featured-sub-menu{}



/* menu principal*/
.slider-main {
	width:100%;

}



/* slider principal*/
.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	zoom: 1;
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}
.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	outline: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.wrap-slider-principal{
	margin-top: -106px;
}
.slider-principal{
	width: 100%;
	height: 500px;

}
.descr-slider{
	width: 400px;
	color: #fff;
	padding: 110px 0px;
	position: relative;
	height: 500px;
	@media #{$screen-767}{
		width:250px;
	}

	a.bt-default{
		display:inline-block;
		margin:15px 0 0 0;
	}

}
h3.title-slider{
	font-size: 40px;
	font-family:$robotobold;
	line-height: 37px;
	text-transform: uppercase;
	@media #{$screen-767}{
		font-size: 22px;
		line-height: 26px;
	}

	span{
		color:#fff;
	}
}

.sub-title-slider{
	font-size: 30px;
	display: block;
	margin-top:15px;
	color:#fff;
	font-family:$robotobold;
	@media #{$screen-767}{
		font-size: 22px;
	}

}

.txt-slider{
	color: #fff;
	font-family:$robotolight;
	font-size:15px;
}



a.bt-default{
	padding: 2px 2px 2px 16px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-family:$robotobold;
	letter-spacing: 0.6px;
}

.arrow-link{
	right: 2px;
	bottom: 2px;
	height: 26px;
	width: 26px;
	text-align: center;
	padding: 3px 0 0 0;
	font-family: "roboto_condensedbold";
	font-size: 16px;
	display:inline-block;
	margin-left: 15px;
}

.conteudo-slider-principal{
	max-width: 960px;
	margin: 0 auto;
	height: 500px;
	padding: 25px 30px;
	@media #{$screen-767}{
		padding: 25px 15px;
	}

}

.w960{
	max-width: 960px;
	margin: -38px auto;
}
.w960 .slick-dots{
	position: inherit;
	text-align: center;
	margin-left: -15px;

}
.w960 .slick-dots li {
	height: 5px;
	display: inline-block;
	margin: 0 5px;
}
.w960 .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 5px;
	cursor: pointer;
	border: 0;
	outline: none;
	background: #fff;
	opacity: 0.5;
}
.w960 .slick-dots li.slick-active button{
	background: #fff;
	height: 5px;
	opacity: 0.9;
}
.setas-slider-principal{
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}
.slick-prev{
	position: absolute;
	left: 10px;
	top: -130px;
	background: url("../img/setas-slider.png");
	font-size: 0;
	width: 17px;
	height: 26px;
	background-position: 0px 0;
	border: 0px;
	outline: none;
	display:none !important;
}
.slick-next{
	position: absolute;
	right: 10px;
	top: -130px;
	background: url("../img/setas-slider.png");
	font-size: 0;
	width: 17px;
	height: 26px;
	background-position: 17px 0;
	border: 0px;
	outline: none;
	display:none !important;
}

.wrap-slider-itens{
	margin-top: 30px;
}

.cols-products{
	width: 218px;
	margin-right: 20px;
	display: inline-table;
	vertical-align: top;
	@media #{$screen-767}{
		width:100%;
		margin:15px 0 20px 0;
	}

}
.cols-products+.cols-products+.cols-products+.cols-products{
	margin-right:0;
	@media #{$screen-767}{
		display:inline-table;
		margin-bottom:0;
	}

}

.title-category{
	font:22px $robotobold;
	line-height: 23px;
	margin: 0 0 17px 20px;
	text-transform: uppercase;
	width: 170px;
	text-align: left;
	min-height: 50px;
	@media #{$screen-767}{
		margin:0 0 20px 0px;
		min-height: auto;
	}
}

.wine-card{
	width:100%;
	border:1px solid #000;
	padding:20px;
	text-align:left;
	margin-bottom:20px;

	a{
		color:$black;
	}
}

.wine-intro{
	font:13px $robotolight;
	margin:5px 0 0 0;
}

.content-card-product{
	width:100%;
	display:inline-block;
	margin-top: 18px;
}

.thumb-wine{
	float:left;
	width:50px;
	margin-right: 9px;
}
.other-wine-info{
	
}

.in{
	font:13px $robotolight;
	margin-top:20px;
	span{
		text-decoration: line-through;
	}
}

.title-card-wine{
	font:18px $robotobold;

	span{
		font:15px $robotolight;
		display:block;
	}
}

.wine-price{
	font:28px $robotobold; 
}

.bt-default-full{
	width: 100%;
	line-height: 26px;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-family: roboto_condensedbold;
	font-size: 16px;
	text-transform:uppercase;
	padding: 2px 2px 2px 16px;
	letter-spacing: 0.6px;

	.arrow-link{
		padding:1px 0 0 0;
		float:right;
		background:#fff;
		font-size:14px;
	}

}


.featured-week{
	border:1px solid #d6d6d6;
	display:inline-block;
	padding: 20px 0 0 20px;
	margin:40px 0 0 0;
	width:100%;
	@media #{$screen-767}{
		margin:28px 0 0 0;
	}
}

.title-featured-week {
	float:left;
	font:30px $robotobold;
	color:$red;
	width:17%;
	text-transform:uppercase;
	line-height:30px;
	@media #{$screen-940}{
		width:20%;
	}
	@media #{$screen-767}{
		margin-bottom:25px;
		float:none;
		width:160px;
	}
}

.list-featured-week{
	float:left;
	width: 82.5%;
	@media #{$screen-940}{
		width:79.5%;
	}
	@media #{$screen-767}{
		width:100%;
	}
}

.item-featured-week{
	margin:0 0 20px 0;
	width:32%;
	padding-left:10%;
	display: inline-table;
		@media #{$screen-767}{
		width:100%;
		padding-left:0;
	}
}
.link-featured-week{
	font:15px $robotobold;
	color:$black;
	text-transform:uppercase;
	span{
		font-family:$robotolight;
		display:block;
		text-transform:none;
	}
}

