@import "reset";
@import "variaveis";
@import "media";
@import "fonts";
@import "menu";
@import "templates"; 
@import "footer";
@import "print";

body {
	font-family: $robotolight;
}
strong {
	font-family:$robotobold;
	font-weight: 400;
}
.show-desktop {
	@media #{$screen767} {
		display:none !important;
	} 
}
.hide-tablet {
	@media #{$screen970} {
		display:none !important;
	} 
}
.f18{
	font-size:18px;
}
.hide-mobile {
	@media #{$screen767} {
		display:none !important;
	}
}
.show-mobile {
	display:none !important;
	@media #{$screen767} {
		display:inline-block !important;
	}
} 
.row.top90 { margin: 90px auto 0;}

.uppercase { text-transform:uppercase;}

.relative { position: relative;}
.mbottom30 { margin-bottom: 30px;}
.mbottom20 { margin-bottom: 20px;}
.mbottom10 { margin-bottom: 10px;}

.mtop10 { margin-top: 10px;}
.mtop20 { margin-top: 20px;}
.mtop30 { margin-top: 30px;}

.img-responsive {
	max-width:100%;
}

.remove-mbttom20{margin-bottom: -20px;}

.row-header {
	max-width: 963px;
	margin:0 auto;
	padding:0 10px;
	@media #{$screen767} {
		padding:0 15px;
	}
}

.row {
	max-width: 963px;
	margin:0 auto;
	padding:0 10px;

	@media #{$screen970} {
		max-width:700px;
		padding:0;
	}

	@media #{$screen767} {
		padding:0 15px;
	}
}



/* menu principal*/
.slider-main {
	width:100%;
}

/* slider principal*/
.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	zoom: 1;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	outline: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.wrap-slider-principal {
	overflow:hidden; 
	@media #{$screen767} {
	}
}

.slider-principal {
	width: 100%;
	height: 500px;
	@media #{$screen767} {
		height: 400px;
	}
}

.descr-slider {
	width: 400px;
	color: #fff;
	padding: 110px 0px;
	position: relative;
	height: 500px;
	@media #{$screen767} {
		width:250px;
	}

	a.bt-default {
		display:inline-block;
		margin:15px 0 0 0;
		padding: 2px 40px 2px 17px;
		position:relative;

		.arrow-link {
			height: 30px;
			top: -2px;
			right: -2px;
			line-height: 21px;
			width: 30px;
			position:absolute;
		}
	}


}

h3.title-slider {
	font-size: 40px;
	font-family:$robotobold;
	line-height: 37px;
	text-transform: uppercase;
	@media #{$screen767} {
		font-size: 22px;
		line-height: 26px;
	}

	b,strong {
		color:#fff;
	}
}


.sub-title-slider {
	font-size: 30px;
	display: block;
	margin-top:15px;
	color:#fff;
	font-family:$robotobold;
	@media #{$screen767} {
		font-size: 22px;
	}

}

.txt-slider {
	color: #fff;
	font-family:$robotolight;
	font-size:15px;
	@media #{$screen767} {
		display:none;
	}
}

.txt-slider + p{
	color:#fff;
}

a.bt-default {
	padding: 2px 2px 2px 16px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-family:$robotobold;
	letter-spacing: 0.6px;
}

.arrow-link {
	right: 2px;
	bottom: 2px;
	height: 26px;
	width: 26px;
	text-align: center;
	padding: 3px 0 0 0;
	font-family: "roboto_condensedbold";
	font-size: 16px;
	display:inline-block;
	margin-left: 15px;
}

.conteudo-slider-principal {
	max-width: 960px;
	margin: 0 auto;
	height: 500px;
	padding: 25px 30px;
	background-position: 73% bottom !important;
	position:relative;

	@media #{$screen970} {
		max-width:700px;
		background-position: 35% bottom !important;
	}

	@media #{$screen767} {
		padding: 25px 15px;
		background-size: 170px !important;
		height: 400px;
		padding: 25px 15px;
		background-position: calc(100% + 114px) bottom !important;
		background-size: 660px !important;
	}

}

.seal-slider {
	position: absolute;
	top: 120px;
	right: 350px;
	@media #{$screen970} {
		right: 150px; 
	}
	@media #{$screen767} {
		display:none;
	}
}

.w960 {
	max-width: 960px;
	margin: -38px auto;
}

.w960 .slick-dots {
	position: inherit;
	text-align: center;
	margin-left: -15px;
}

.w960 .slick-dots li {
	height: 5px;
	display: inline-block;
	margin: 0 5px;
}

.w960 .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 5px;
	cursor: pointer;
	border: 0;
	outline: none;
	background: #fff;
	opacity: 0.5;
}

.w960 .slick-dots li.slick-active button {
	background: #fff;
	height: 5px;
	opacity: 0.9;
}

.setas-slider-principal {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}



.wrap-slider-itens {
	margin-top: 30px;
}

.cols-products {
	width: 218px;
	margin-right: 20px;
	display: inline-table;
	vertical-align: top;

	@media #{$screen970} {
		width: 217px;
	}

	@media #{$screen767} {
		width:100%;
		margin:15px 0 20px 0;
	}

}

.cols-products+.cols-products+.cols-products {
	@media #{$screen970} {
		margin-right: 0;
	}
}



.cols-products+.cols-products+.cols-products+.cols-products {
	margin-right:0;
	@media #{$screen767} {
		display:inline-table;
		margin-bottom:0;
	}

}

.title-category {
	font:22px $robotobold;
	line-height: 23px;
	text-transform: uppercase;
	width: 170px;
	text-align: left;

	padding-left: 20px;

	/* min-height: 50px; */

	@media #{$screen767} {
		margin:0 0 20px 0px;
		min-height: auto;
	}

}

.category-fixed {
	.title-category {
		display: table-cell;
		vertical-align: middle;
		height: 46px;
	}
}

.container-titlecat{
	min-height:50px;
}

.favorite {
	background: url($imgPath + "sprites-heart.png") no-repeat top left;
	cursor:pointer;
	position:absolute;
	right:9px;
	top:9px;
	height:27px;
	width:29px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.25s ease-in-out;
}

.height-bg-product .favorite {
	background: url($imgPath + "sprites-heart.png") no-repeat top left;
	cursor: pointer;
	position: absolute;
	right: -10px;
	top: 9px;
	height: 30px;
	width: 32px;
	transition: all 0.25s ease-in-out;
	background-position: 0 -312px;
	z-index:9999;
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	transition: all 0.25s ease-in-out;

	@media #{$screen767} { 
		right: 27px;
	}
}

.height-bg-product .favorite.clicado {
	background-position: -39px -312px !important;
}

.show-mobile {
	.favorite {
		background-position: 0px -312px;
		width: 32px;
		height: 32px;
	}
}

.show-mobile .favorite.clicado{
	background-position: -39px -312px !important;
}

.opacity1 {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	transition: all 0.25s ease-in-out;
}

.bg-template {
	.wine-card {
		border:0;
	}
}


.wine-card {
	width:100%;
	border:1px solid #000;
	padding:20px;
	text-align:left;
	margin-bottom:20px;
	position:relative;
	min-height: 395px;

	@media #{$screen767} { 
		min-height: auto;
	}

	&:hover{
		.favorite{
			opacity: 1;
			filter: alpha(opacity=1000);
		}
	}

	a{
		color:$black;
	}

	.old-price {
		margin-top:20px;
	}
}
.wine-bottle {
	max-width:100%;
}

.wine-intro {
	font:13px $robotolight;
	margin:5px 0 0 0;
	line-height: 13px;
	min-height:40px;
	@media #{$screen767} {
		min-height:auto;
	}
}
.info-details-wine {
	font:13px $robotolight;
	margin:2px 0 0 0;
	line-height: 13px;
}

.content-card-product {
	width:100%;
	display:inline-block;
	margin-top: 18px;
	min-height: 150px;

	@media #{$screen767} {
		min-height:auto;
	}
}

.thumb-wine {
	float:left;
	position:relative;
	margin-right: 9px;
	width:50px;
}
.label-wine{
	position:absolute;
	left: -15px;
	top: -2px;
}
.label-wine-menu{
	position:absolute;
	right: -23px;
	top: -30px;
}

.other-wine-info {}

.in {
	font:13px $robotolight;
	margin-top:20px;

	span {
		text-decoration: line-through;
	}

}

.featured-sub-menu {
	.wrap-seal-card {
		right: -22px;
		top: -25px;
	}	

	.seal-score-card {
		span {
			color:#6b0f45 !important;
		}
	}
}

.wrap-seal-card {
	position:absolute;
	top:0;
	right:0;
}

.content-seal-card {
	width:60px;
	height:60px;
	display:table;
	text-align:center;
	margin-bottom:20px;
}

.seal-score-card {
	display: table-cell; 
	vertical-align: middle;

	span {
		font: 23px $robotobold;
		position:relative;
		color:#6b0f45;
	}

	img {
		position:absolute;
		top:0px;
		left:0px;
		width:60px;
	}
}

.title-card-wine {
	font:18px $robotobold;
	text-transform: uppercase;
	line-height: 18px;
	width: 90%;
	min-height: 92px;
	@media #{$screen767} {
		min-height: auto;
	}

	span {
		font:15px $robotolight;
		display:block;
		text-transform:none;
	}

}

.wine-price { font:27px $robotobold; }

.product-unavailable {
	font:20px $robotolight;
	color:#A59E9E;
}

.wrap-banners {
	width:100%;
	margin-bottom:40px;
	@media #{$screen767} {
		margin-bottom:10px;
	}
}

.banners{
	width:100%;
	display:inline-block;
	@media #{$screen990} {
		max-width: 726px;
		margin: 0 auto;
		display:inherit;
	}
}
.list-banners{
	width:49.5%;
	display:inline-block;
	@media #{$screen990} {
		width:49.5%;
	}
	@media #{$screen767} {
		width:100%;
		text-align:center;
		margin-bottom: 15px;
	}

	img {
		max-width:100%;
		@media #{$screen990} {
			max-width:98%;
		}
		@media #{$screen767} {
			max-width:100%;
		}
	}

}
.list-banners+.list-banners {
	text-align:right;
	@media #{$screen767} {
		text-align:center;
	}
}

/* MENU INTERNAL **********************/
.header-internal { 
	padding:0 0 20px 0;
	margin-bottom: 30px;
	display:inline-block;
	width:100%;
}

.header-internal.header-checkout {
	padding:0;
	@media #{$screen970} {
		
		.logo,.logo-vinci{	margin-left:0px;}
	}

}

.header-checkout {


	@media #{$screen767} {

		.wrap-content-bt.mbottom20 {
			margin-bottom: 0;
		}

		.internal-subtitle {
			font-size:30px;
		}
	}
}

.header-internal.header-checkout-confirmation {
	padding:0;
}

.header-checkout-confirmation {


	@media #{$screen767} {

		.wrap-content-bt.mbottom20 {
			margin-bottom: 0;
		}

		.internal-subtitle {
			font-size:30px;
		}
	}
}

.breadcrumb {
	width: 100%;
	display: inline-block;
	z-index: 10;
	position: relative;
	margin-top: 5px;
	@media #{$screen970} {
		margin-top: 20px;
	}
	@media #{$screen767} {
		display:none;
	}
}
.breadcrumb-item {
	float: left;
	color: #fff;
	padding: 0 7px 0 0px;
	margin: 0 3px 0 0px;

	span{
		margin-right: 5px;
		font-size: 15px;
	}
}
.breadcrumb-link {
	color: #fff;
	&:hover {
		text-decoration: underline;
	}
}

.internal-subtitle {
	font: 32px $robotobold;
	color:#fff;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin: 0;
	display: inline-block;

	@media #{$screen970} {
		font: 25px "roboto_condensedbold";
		margin-top: 15px;
	}
}

.search-item {
	font-size:25px;
	color:#fff;
	margin-top: -5px;
}

.container-products {
	min-height: 380px;
	@media #{$screen767} {
		min-height:auto;
	}
}

/* FIM MENU INTERNAL *********************/

/* PG SEARCH*/
.header-content-internal {
	width:100%;
	display:inline-block;
	margin-bottom: 20px;
}
.container-total-products {
	float:left;
}
.total-products {
	font:18px $robotobold;
	color:$black;
	margin-top: 5px;
	float: left;
	@media #{$screen767} {
		font:25px $robotobold;
	}
}

.display-filter {

	span {
		margin-right:20px;
		margin-top: 3px;
		display: inline-block;
	}

	@media #{$screen767} {
		float: right;
		width: 100%;
		margin-top: 5px;
	}

	span{
		@media #{$screen767} {
			display:none;
		}
	}
	select{
		@media #{$screen767} {
			width:100%;	
		}

	}

}

.select-widthfull{
	@media #{$screen767} {
		width:100%;
		margin-top:10px;
	}
}

.search-column {
	width:23.4%;
	border:1px solid #d6d6d6;
	padding:19px;
	margin-right:20px;
	float:left;
	@media #{$screen970} {
		width: 29%;
		margin-right:0;
	}
	@media #{$screen767} {
		position: fixed;
		top: 0px;
		z-index: 999999;
		left: -5px;
		padding: 20px 20px;
		height: 100% !important;
		overflow: auto;
		min-height: auto;
		background: #fff;
		width: 250px;
		border:none;
	}
}

.filtro-mobile{
	font:20px $robotobold;
	color:$black;
	width:100%;
	border-bottom:1px solid #d6d6d6;
	padding-bottom:10px;
	margin-bottom:10px;
	@media #{$screen767} { 
		margin-top: 30px;
		font:25px $robotobold;
	}

	span{
		border:2px solid #000;
		float:right;
		padding: 0px 7px;
		font-size:15px;
		@media #{$screen767} { 
			font-size:16px;
			padding: 3px 10px;
		}
	}
}

.filter-search {
	margin-bottom:30px;
	@media #{$screen767} {
		margin-bottom:10px;
	}
}
.title-filter{
	font:16px $robotobold;
	color:$black;
	text-transform:uppercase;
}

.filter-search{
	display:inline-block;
	width:100%;
}

.filter-search-item{
	border-bottom:1px solid #fff;
	display: inline-block;
	width: 100%;
	&:hover {
		border-bottom:1px solid #06362b;
		@media #{$screen767} {
			border-bottom:1px solid #fff;
		}
	}
}

.subitem-filter-search li{
	float:left;
	text-align:left;
	width:80%;
	a {
		color:#1d1d1d;
		display:inline-block;
		width:100%;
	}

}

.subitem-filter-search li+li {
	width:20%;
	float:right;
	text-align:right;
}
.see-more-filter,
.see-less-filter{
	cursor:pointer;
	font-size: 15px;
	color:$blue;
	text-transform:uppercase;
	&:hover {
		text-decoration: underline;
		@media #{$screen767} {
			text-decoration: none;
		}
	}
}

.colum-description-wine {
	float: left;
	width: 340px;
}

.column-products-search-inline {
	width:73.9%;
	float:right;

	.in {
		margin-top:0;
	}
	
	.title-card-wine {
		position:relative;
		min-height:auto;
	}

	.favorite {
		right: -30px;
		top: 0px;
	}

	@media #{$screen970} {
		width: 68%;
	}

	@media #{$screen767} {
		width: 100%;
	}

	.wine-intro {
		margin-bottom:10px;
		min-height:auto;
	}


	.wine-card{
		display:inline-block;
		min-height: auto;
	}
	.other-wine-info{
		width: 180px;
		float: right;
		text-align: right;

		@media #{$screen767} {
			width: 76%;
			float: left;
			text-align: left;
		}
	}
}

.colum-description-wine{
	float:left;
	@media #{$screen970} {
		width: 42%;
	}
	@media #{$screen767} {
		width: 100%;
	}
} 

.container-max-line {
	float:left;
	width:90%;
	@media #{$screen970} {
		width:85%;
	}
	@media #{$screen767} {
		width: 81%;
	}
}

@media only screen and (max-width: 400px) {
	.container-max-line { 
		width:75.5%;
	}
}

ul.error-message{
	color: #a94442 ;
	background-color: #f2dede ;
	border: 1px solid #ebccd1 ;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 27px;
}

ul.error-message li {
	margin-bottom: 5px;
}


.bg-layer-filtro{
	position: fixed;
	z-index: 99999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

.opacidade-coluna1{
	display: block;
	@media #{$screen767} {
		display: none;

	}
}

.semopacidade-coluna1{
	display: none;
	@media #{$screen767} {
		display: block;
	}
}


.wrap-pagination {
	width:100%;
	display:inline-block;
	border-top:1px solid #d6d6d6;
	padding-top:10px;
	margin-top: 20px;
	@media #{$screen767} {
		margin-top:0;
		padding-top:0;
		border-top:none;
	}
}

.wrap-pagination + .wrap-pagination {
	margin-top:0;
	padding-top:0;
	border-top:none;
}



ul.pagination{
	float: right;
	@media #{$screen767} {
		float:none;
		text-align:center;
	}

	li{
		display:inline-block;
		margin-right: 2px;
		
		color: #000;
		border: 1px solid #fff;
		a, span{
			color:#000;
			display: inline-block; 
			font-size:14px;
			padding: 5px 10px 5px 10px;
		}

	}
	li:last-child, li:first-child  {
		a,span {
			font: 20px $robotobold;
		}
	}
}

.pagination li.active, .pagination li:hover {
	border: 1px solid #d6d6d6;
}
.pagination li {
	border: 1px solid #d6d6d6;
	color: #323232;
}

.active{
	border: 1px solid #d6d6d6;
	color: #000;
}



/* PG SEARCH*/


/* PG CADASTRO*/

.title-internal-15{
	font:18px $robotobold;
	color:$black;
}

.wrap-content-search{

}

.wrap-content-register {
	@media #{$screen970} {
		max-width:700px;
		margin:0 auto;
	}
}

.col-register1,
.col-register2{
	width:280px;
	float:left;
	@media #{$screen767} {
		width:100%;
	}
}
.col-register3{
	width:280px;
	float:right;

	@media #{$screen970} {
		width:100%;
		float:right;

		.user-phones {
			width:280px;
			float:right;
		}
	}
	@media #{$screen767} {
		
		.user-phones {
			width:100%;
		}
	}

}
.col-register2{
	margin:0 49px;

	@media #{$screen990} {
		margin:0 30px;		
	}

	@media #{$screen970} {
		float: right;
		margin-right: 0;
	}
}
.list-form-register {
	margin:30px 0 9px 0;
	li {
		margin-bottom: 25px;
		display:inline-block;
		width:100%;
		position:relative;
	}
	.select-standard{
		border:1px solid #000;
		height: 38px;
	}
}
.label-input {
	position:absolute;
	top:-19px;
	display:none;
	font-size:14px;
}

.label-input.left0 {
	left:0;
}

.ie9 {
	.label-input {
		display:block !important;
	}	
}


.pg-log {
	.list-form-register {
		margin:0; 
	}
}

.label-above {
	position: absolute;
	top: -25px;
	left:0;
}

.input-register{
	border: 1px solid #000;
	font-size: 15px;
	color: #111;
	padding: 8px 10px;
	font-family: "roboto_condensedlight";
}

.characters-pass{
	font-size: 13px;
	float: left;
	margin: 10px 0 0 10px;
}

.error-field{
	border:1px solid $red !important;
}

.half { width:50%; }
.width120 {
	width: 120px;
	float: left;
	margin-right: 10px;
	margin-bottom:-6px;
	@media #{$screen767} {
		width:110px;
	}
}
.sixty { width:60%; }
.two-fields { width:48%;}
.two-fields+.two-fields {float:right;}
.full { width:100%; }

.title-form {
	font: 18px $robotobold;
	text-transform:uppercase;
	margin-bottom:30px;
}

.search-cep {
	float:right;

	p{
		font-size:15px;
		color:$black;
		margin: -3px 0;
	}
	a {
		font-size:15px;
		color:$blue;
	}
}

.wrap-content-bt {
	width:100%;
	display:inline-block;
}

.content-bt-big {
	float:right;
	width:280px;
	@media #{$screen767} {
		width:100%;
	}
}

.content-bt-middle {
	float:right;
	width:220px;
	@media #{$screen767} {
		width:100%;
	}
}

.content-bt-small {
	float:right;
	width:160px;
	@media #{$screen767} {
		width:100%;
	}
}

.list-type-buyer {
	li{
		float:left;
		margin-right:30px;
		@media #{$screen767} {
			margin-right:20px;
		}
		label {
			margin-right:5px;
			font: 18px $robotobold;
		}
	}
}



.list-type-radio-2cols {
	li{
		float:left;
		margin-right:0px;
		width:45%;
		margin-bottom:0;
		label {
			margin-right:5px;
			font-size:15px;
			font-family: "roboto_condensedlight";
		}
	}
}

.list-type-radio-3cols {
	width:100%;
	li{
		display:inline-block;
		margin-right:0px;
		width:32.5%;
		margin-bottom:0;
		label {
			margin-right:5px;
			font-size:15px;
			font-family: "roboto_condensedlight";
		}
	}
}

/* PG CADASTRO*/


/* PG CATEGORIA */

.column-products-search-category {
	width:700px;
	float:right;

	@media #{$screen970} {
		width:68.9%;

		.title-card-wine {
			min-height:auto;
		}
		.content-card-product {
			min-height: auto;
		}
	}

	@media #{$screen767} {
		width:100%;
	}

	.wine-card:nth-child(3n+4) {
		margin-right: 0px;

		@media #{$screen970} { 
			margin-right: 0px;
		}
	}
	
	.wine-card {
		width: 223px;
		display: inline-table;
		margin-right: 15px;
		@media #{$screen970} {
			width:100%;
			min-height:auto;
		}

		@media #{$screen767} {
			width:100%;
			margin-right: 0px;
		}
	}



/* 		@media #{$screen970} { 

				.wine-card:nth-child(3n+1) {
			margin: 0 30px 0px 0;
		}

		} */

		.bt-default-full {
			width: 98%;
			margin-left: 2%;

			@media #{$screen970} {
				width: 96%;
				margin-left: 4%;
			}

			@media #{$screen767} {
				width:100%;
				margin-left: 0;
			}
		}

		.header-content-internal {
			margin-bottom: 20px;
			float: right;
			@media #{$screen767} { 
				float:none;
				width:100%;
			}
		}




		} /* fim column-products-search-category */

		.category-description {
			color:#fff;
			width:70%;
			/* margin-bottom: 20px; */
			@media #{$screen767} {
				width:90%;
			}
		}

		.more-txt,
		.less-txt {
			font:15px $robotolight;
			text-transform: uppercase;
		}

		.bg-color-category {
			min-height:350px;
			@media #{$screen970} {
				min-height:250px;
			}
		}


		/* PG CATEGORIA*/


		/* MODAL */

		.modal-default {
			width: 340px;
			background-color: #fff;
			position: fixed;
			left: 50%;
			top: 30%;
			margin-left: -170px;
			margin-top: -90px;
			z-index: 99999999;

			@media #{$screen970} {
				top: 40%;
			}

			@media #{$screen767} {
				width: 300px;
				margin-left: -150px;
			}
		}

		.title-modal-default {
			font: 30px "roboto_condensedbold";
			text-transform: uppercase;
			letter-spacing: 1px;
			@media #{$screen767} {
				font-size:26px;
			}
		}

		.content-modal {
			padding:29px 29px 0 29px;

			.bt-default-full .arrow-link {
				font-size: 14px;
			}

			.list-form-register {
				margin: 30px 0 9px 0;
			}
			.label-input {
				top: -23px;

			}
		}

		.forgot-pass {
			font-size: 16px;
			color: #000;
			float: right;
			margin-top: 5px;
		}

		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.7);
			width: 100%;
			height:100%;
			z-index: 999999;
			overflow:scroll;
		}


		.global-modal {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
			z-index: 9999999;
			overflow:scroll;
		}

		.modal-default, .overlay, .modal-larger, .global-modal {
			display: none;
		}

		.footer-modal {
			background: $blue;
			width: 100%;
			display: inline-block;
			margin-top: 30px;
			padding: 20px 0;
		}

		.txt-register {
			font:18px $robotobold;
			color: #fff;
			display: inline-block;
			line-height: 18px;
			text-transform: uppercase;

/* 		@media #{$screen767} {
			font: 16px "roboto_condensedbold";
			} */
		}

		.bt-arrow {
			border: 2px solid #fff;
			padding: 2px 9px;
			color: #fff;
			float: right;
			width: 27px;
			margin-top: 4px;
		}

		.close {
			border: 2px solid $blue;
			padding: 1px 9px;
			font: 16px "roboto_condensedbold";
			color: $blue;
			position: absolute;
			top: 10px;
			right: 10px;
		}



		.modal-larger {
			width: 500px;
			background-color: #fff;
			z-index: 99999999;
			margin: 20px auto;
			position: relative;

			@media #{$screen970} {
				top: 3%;
			}

			@media #{$screen767} {
				width: 90%;
				.search-cep {
					width: 100%;
					margin-top: 15px;
				}
			}
			.content-modal {
				padding-bottom:20px;
			}
		}

		.modal-x {
			max-width: 800px;
			background-color: #fff;
			z-index: 99999999;
			margin: 20px auto;
			position: relative;
			top: 5%;

			@media #{$screen970} {
				top: 3%;
			}

			@media #{$screen767} {
				width: 90%;
			}
			.content-modal {
				padding-bottom:20px;
			}
		}
		/* MODAL */


		/* PG LOGIN */

		.pg-log {
			max-width: 400px;
			margin: 0 auto;
		}

		.center-content-bt {
			max-width:245px;
			margin:0 auto;
		}

		/* PG LOGIN */

		/*PG PRODUTO*/

		.wrap-content-product {
			@media #{$screen767} {
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: column;
				flex-flow: column;
			}
		}

		.flex-col-product-tree {
			@media #{$screen767} {
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: column;
				flex-flow: column;
			}
		}

		.invert-mobile2 {
			width:100%;
			display:inline-block;
		}

		.bg-product {
			width: 100%;
			position: absolute;
			height: 320px;
			margin-top: -30px;
			@media #{$screen970} { 
				height: 350px;
			}

			@media #{$screen767} { 
				height:450px;
			}
		}

		.col-product-one,
		.col-product-two,
		.col-product-tree{
			width:300px;
			display:inline-table;
			min-height:300px;
			vertical-align:top;
			position:relative;

			@media #{$screen970} {
				width:220px;
			}
			@media #{$screen767} {
				width:100%;
			}
		}



		.col-product-one { 
			@media #{$screen767} {
				display:none; 
			}
		}

		.col-product-two {
			@media #{$screen970} {
				margin: 0 10px;
			}
			@media #{$screen767} {
				margin:0;
				order: 1;
				-webkit-order: 1;
			}
		}

		.col-product-tree {
			@media #{$screen767} {
				order: 2;
				-webkit-order: 2;
			}
		}

		.content-img-product {
			text-align:center;
			width:100%;
			position:relative;
			@media #{$screen767} { 
				margin-top:20px;
			}
		}

		.img-product {
			width:100%;
			max-width:100%;
			@media #{$screen767} { 
				width:auto;
			}
		}

		.height-bg-product {
			min-height:300px;
			@media #{$screen970} {
				min-height:321px;
			}
		}

		.wrap-price-units, .wrap-product-unavailable {
			width:220px;
			float:right;
			min-height:340px;
			@media #{$screen970} {
				min-height:360px;
			}
			@media #{$screen767} { 
				width:100%;
				min-height:auto;
			}
		}

		.wrap-product-unavailable {
			color:#000;

			p{
				font-size:16px;
			}
		}

		.content-unavailable {
			background: #fff;
			width: 100%;
			display: inline-block;
			padding: 10px;
		}

		.receive-offers {
			width:100%;
			display:inline-block;
			span {
				float:right;
				width:90%;
			}
		}

		.error-email {
			color:$red;
			text-align:center;
		}

		.box-price-units {
			width:100%;
			position:relative;
			display:inline-table;
			background:#fff;
			padding:15px;
			margin-bottom:20px;

			@media #{$screen767} { 
				margin-bottom:0;
			}

		}

		.old-price {
			font-size:14px;
			span {text-decoration:line-through; }
		}

		.current-price {
			font: 35px $robotobold;
			margin-bottom: 15px;
			@media #{$screen767} {  
				margin-bottom: 5px;
			}
		}


		.content-term-delivery {
			text-align:center;
			margin-top:15px;
			a {
				color:#fff;
				font-size:15px;
				text-transform:uppercase;
			}
		}

		.wrap-add {
			width:100%;
			display:inline-block;

			span {
				float:left;
				font-size:17px;
				margin-top:5px;
				@media #{$screen767} { 
					font-size:15px;
				}
			}
		}

		.wrap-add + .wrap-add {
			margin-top:15px;

			span {
				margin-top:0;
				line-height:18px;
			}
		}

		.bt-add, .bt-remove {
			color: #fff;
			font-size: 17px;
			height: 30px;
			text-align: center;
			width: 28px;
			padding-top: 3px;
		}

		.input-quantity {
			width:30px;
			border:0;
			height:30px;
			text-align:center;
			font-size: 15px;
			font-family:$robotolight;
		}

		.botoes-add {
			float:right;
			width:90px;
			padding:1px;
		}

		.bt-remove {
			float: left;
		}

		.bt-add {
			float: right;
		}



		.wrap-content-product {
			margin-top:-30px;
		}

		.tit-product {
			font: 40px $robotobold;
			color:#fff;
			text-transform:uppercase;
			line-height: 40px;
			width:91%;
			@media #{$screen970} {
				font-size:30px;
				line-height: 30px;
				width:80%;
			}
		}
		.tit-product-producer, .cod-product {
			font-size: 18px;
			color:#fff;
		}
		.tit-product-info {
			font: 30px $robotobold;
			line-height: 30px;
			width:230px;
			margin-top: 37px;
			@media #{$screen970} { 
				font-size:25px;
				line-height:24px;
			}
			@media #{$screen767} {
				width:auto;
				margin-top: 15px;
			}
		}

		.wrap-seal-product {
			position:absolute;
			top:0;
			right:0;
			img {
				display:block;
				margin-bottom: 10px;
				@media #{$screen970} {
					width:70px;
				}
			}
		}

		.content-seal-product {
			width:90px;
			height:90px;
			display:table;
			text-align:center;
			margin-bottom:20px;
			@media #{$screen970} {
				width:70px;
				height:70px;
			}
		}

		.seal-score {
			display: table-cell; 
			vertical-align: middle;
			
			span {
				font: 33px $robotobold;
				position:relative;
				color:#6c0f46;
				@media #{$screen970} {
					font: 23px $robotobold;
				}
			}

			img {
				position:absolute;
				top:0px;
				left:0px;
			}
		}


		.item-info-wine {
			color: #000;
			font: 15px $robotobold;
		}


		.details-wine {
			margin-top: 40px;
			@media #{$screen767} { 
				margin-top:25px;
			}

		}
		.details-wine>li,
		.details-wine div li {
			padding: 5px 0 0 0;
		}
		.details-wine>li+li,
		.details-wine>div>li+li {
			padding: 5px 0 0 0;
			border-top: 1px solid #a0a0a0;
		}
		.details-wine>li,
		.details-wine div li {
			display: inline-block;
			width: 100%;
			ul li {
				width: 120px;
				float: left;
				padding-right: 20px;
				@media #{$screen767} { 
					width:40%;
				}

			}
			ul li+li {
				width: 170px;
				padding-right:0px;
				@media #{$screen970} { 
					width: 100px;
				}
				@media #{$screen767} { 
					width:45%;
				}
			}
		}


		.see-more-info,
		.see-less-info {
			margin-left: 120px;

			padding: 3px 12px;
			text-transform: uppercase;
			font-size: 14px;

			margin-top: 10px;
			float: left;
			@media #{$screen767} { 
				margin-left: 0;
				background: url($imgPath + "seta-sprites.jpg") no-repeat;
				font: 15px $robotobold;
				color:#000;
				border:0;
				border-bottom: 1px solid #a0a0a0;
				text-transform: inherit;
				padding-bottom:20px;
				padding-left: 0;
				width: 100%;
				background-position: right 11px;
			}
		}
		.see-less-info {
			@media #{$screen767} { 
				background-position: right -20px;
			}
		}

		.invert-mobile2 {

			@media #{$screen767} { 
				border-bottom: 1px solid #a0a0a0;
				padding-bottom:10px;
				padding-left: 0;
				width: 100%;

				span {
					display:none;
				}
			}



		}

		.description-toogle {
			@media #{$screen767} { 
				margin-left: 0;
				background: url($imgPath + "seta-sprites.jpg") no-repeat;
				font: 15px $robotobold;
				color:#000;
				border:0;
				text-transform: inherit;
				width: 100%;
				background-position: right 11px;
				float:left;
				margin-bottom:5px;
			}
		}

		.description-toogle.open {
			background-position: right -25px;
		}

		.seals-description {

			width: 100%;
			display: inline-block;
			margin: 0px 0 10px 0;
			@media #{$screen970} {
				margin: 60px 0 10px 0;
			}
			@media #{$screen767} {  
				margin: 15px 0 10px 0;
			}

			li {

				margin-bottom: 10px;
				padding-top:10px;


				p {
					font: 15px $robotobold;
					color:$blue;
					text-transform: uppercase;
					cursor:pointer;
				}

				div {
					font-size:15px;
					display:inline-block;
					width:100%;
				}

			}

			li+li {

				border-top:1px solid #a0a0a0;
				div {
					display:none;
				}
			}
		}

		.also-recommend {
			margin-top: 40px;

			@media #{$screen767} {  

				.cols-products+.cols-products {
					display: none;
				}

				.cols-products+.cols-products+.cols-products+.cols-products {
					display: none;
				}
			}

		}

		.rule-details-wine {
			display:none;
		}


		/*PG PRODUTO*/
		.answer-delivery {
			margin:30px 0 10px 0;
			color:$blue;
			font-size:20px;
			text-align:center;
		}

		.modal-delivery-time {
			.content-modal {
				padding-bottom:20px;
			}
		}


		/* PG CARRINHO */

		.alert-purchase {
			border-radius:3px;
			width:100%;
			display:inline-block;
			padding:15px;
			margin-bottom:20px;
		}

		.alert-red {
			border:1px solid #f7e2e2;
			background:#f6e2e2;

			.alert-msg {
				color:#be494d;
			}

			span {
				border-radius:5px;
				background-color:#bb2a2f;
				color:#9a7749;
				padding: 1px 3px;
				margin-bottom: 2px;
				display: inline-block;
			}
		}

		.alert-yellow {
			border:1px solid #feedd5;
			background:#fef9e8;

			.alert-msg {
				color:#99776b;
			}

			span {
				border-radius: 5px;
				background-color: #e7d1af;
				color: #9a7749;
				padding: 1px 3px;
				margin-bottom: 2px;
				display: inline-block;
			}
		}

		.link-cart {
			color:$blue;
			text-transform:uppercase;
			font-size:12px;
		}

		.remove-product-cart {
			margin: 10px 18px;
			display: inline-block;
			@media #{$screen970} {  
				width:100%;
			}
			@media #{$screen767} { 
				display:none;
			}
		}

		.wrap-cart {
			display:inline-block;
			width:100%;


		}

		.box-two-links {

			width:420px;
			float:right;

		}

		.row-item-cart {
			border-bottom:1px solid #c1c1c1;
			display:inline-block;
			width:100%;
			padding:10px 0;


		}
		.row-item-cart+.row-item-cart { 
			padding:15px 0 20px 0;

			@media #{$screen970} {  
				padding: 10px 0 5px 0;
			}
		}

		.col-cart1 {
			width:79.5%;
			float:left;
			padding-left: 3%;

			@media #{$screen970} { 
				width: 75%;
			}


			@media #{$screen767} {
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: column;
				flex-flow: column;
				width:100%;
			}


			.thumb-wine {
				margin-right: 30px;
				width: 25px;
			}
		}



		.col-product-cart {
			width:55%;
			float:left;
			@media #{$screen970} { 
				width: 70%;
			}
			@media #{$screen767} { 
				width: 100%;
			}
		}

		.colum-description-cart {
			float: left;
			width: 56%;

			@media #{$screen970} { 
				width: 70%;
			}

			.title-card-wine {
				width:100%;
				color:#000;
				min-height: auto;

			}
		}

		.col-price-cart {
			width:30%;
			float:left;

			@media #{$screen970} { 
				width: 29%;
			}

			@media #{$screen767} {
				/* margin:0; */
				order: 2;
				-webkit-order: 2;
				width: 100%;
				text-align: right;
			}

			.in {
				margin-top:0;
			}
			.wine-price {
				color:$blue;
			}
		}

		.col-cart2 { 
			width: 12.5%;
			float: left;
			@media #{$screen970} { 
				width: 100%;
				text-align: left;
				margin-left: 56px;
			}

			@media #{$screen767} {
				/* margin:0; */
				order: 1;
				-webkit-order: 1;
				margin-left: 0;
			}

			.botoes-add {
				float:left;
				@media #{$screen767} { 
					margin-left:56px;
				}
			}

		}

		.col-cart3 { 
			width:19.5%;
			float:right;
			text-align:right;

			@media #{$screen970} { 
				width: 21.5%;
			}

			.current-price {
				font-size:28px;
			}
		}


		.valor-total-carrinho{
			width: 310px;
			text-transform:uppercase;

			li{
				width: 100%;
				padding: 20px 0px 20px 20px;
				display: inline-block;
				overflow: visible !important;

				.wrap-compra-dados-venda{
					display: inline-block;
					width: 100%;

					.current-price {
						font-size:28px;
						color:$blue;
					}
				}

				span{
					display: inline-block;
					margin-top: 5px;
					font-size: 15px;
				}

				.container-info-compra{
					width: 180px;
					float: right;
					text-align: right;

					input[type="text"]{
						border: 1px solid #000;
						width: 100px;
						float: left;
						padding: 9px 0px;
						font-size: 15px;
						text-align: center;
						margin-left: 10px;
						font: 15px $robotolight;
					}


				}
			}
			li+li {
				border-top: 1px solid #c1c1c1;
			}
		}

		.btn-submit {
			border: 0;
			color: $blue;
			float: right;
			padding: 7px 15px;
			background:none;
			font: 16px $robotobold;
			cursor:pointer;
		}

		.remover-carrinho{
			color: $blue;
			font-family: $robotobold;
			text-transform: uppercase;
			font-size: 12px;
		}

		.price-cart {
			font:20px $robotolight;
		}

		.container-info-remover {
			float:left;
		}

		.box-two-links {

			width:420px;
			float:right;

			.content-bt-middle {
				margin-left: 40px;
				@media #{$screen767} {
					margin-left:0px;
				}
			}

			@media #{$screen767} {
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: column;
				flex-flow: column;
				width:100%;
				text-align:center;
			}



		}

		@media #{$screen767} {
			.content-bt-middle {
				order: 1;
				-webkit-order: 1;
			}

			.keep-buying {
				order: 2;
				-webkit-order: 2;
				float:none;
			}
		}


		.keep-buying {
			color:#fd571d;
			font: 15px $robotobold;
			text-transform:uppercase;
			margin-top: 10px;
			float: right;
			&:hover {
				text-decoration: underline;
			}
		}

		.unavailable {
			font: 15px $robotobold;
			color:$red;
		}


		/* PG CARRINHO */

		.slider-gift {
			position:relative;
			width:100%;

			.slick-next {
				position:absolute;
				right:-20px;
				top:31%;
				margin-top:-10px;
				width: 13px;
				height: 36px;
				background: url($imgPath + "arrow_next.png") no-repeat;
				width: 13px;
				height: 36px;
				border: 0;
				overflow: hidden;
				font-size: 0;
				outline:none;
				cursor:pointer;
			}
			.slick-prev {
				position:absolute;
				left:-20px;
				top:31%;
				margin-top:-10px;
				background: url($imgPath + "arrow_prev.png") no-repeat;
				width: 13px;
				height: 36px;
				border: 0;
				overflow: hidden;
				font-size: 0;
				outline:none;
				cursor:pointer;
			}

			.slick-dots{
				text-align:center;

				li {
					display:inline-block;
					width: 20px;
					margin: 10px 0 10px 5px;

					button {
						width: 16px;
						overflow: hidden;
						height: 5px;
						background: $blue;
						border: 0;
						outline: 0;
						line-height: 0;
						font-size: 0;
						cursor:pointer;
					}
				}

				.slick-active button {
					background:#1581A7;
				}
			}
		}

		.slider-gift img{
			max-height: 160px;
			width: auto;
			max-width: 100%;
		}
		.slider-gift div {
			text-align:center; 
		}

		.description-gift {
			color:$black;
			font-size:17px;
		}
		.price-gift {
			color:$blue;
			font-size:17px;
		}

		.modal-gift {
			max-width:800px;
			margin:0 auto;
		}

		.txt-modal-gift {
			@media #{$screen767} {
				display:none;
			}
		}

		.content-button-gift {
			width:80%;
			margin:10px auto;
		}


		.cart-content {
			position:relative;
		}


		/* PG ENTREGA */

		.nav-status {
			margin-left: 50px;

			@media #{$screen767} { 
				margin-left: 0px;
				float: none;
				margin-top: 30px;
			}
		}

		.list-status {

			margin-top:11px;

			li {
				display: inline-block;
				width: 220px;
				text-align: center;
				position:relative;
				padding-bottom: 13px;

				@media #{$screen970} { 
					width:160px;
				}
				@media #{$screen767} { 
					width:100%;
					text-align: left;
				}

				span {
					color:#fff;
					text-transform:uppercase;
					font: 20px $robotobold;
				}
			}

		}

		.current-status {
			border-bottom: 5px solid #fd571d;
		}

		.cup-status {
			position:absolute;
			right: 20px;
			top: -28px;
			@media #{$screen970} {
				right: -5px; 
			}
			@media #{$screen767} {
				right: 40px; 
			}
		}

		.adress {
			width:300px;
			display:inline-table;
			border:1px solid #adbfc6;
			padding:20px;
			margin: 0 18px 20px 0;
			position:relative;



			@media #{$screen970} { 
				margin: 0 66px 20px 0;
				width: 45%;

			}

			@media #{$screen767} { 
				width:100%;
				margin: 0 0px 30px 0;
			}

			h4 {
				font:18px $robotobold;
			}

			p {
				font-size:15px;
			}
		}

		.adress:nth-child(3n+3) {
			margin: 0 0px 0px 0;
			@media #{$screen970} { 
				margin: 0 66px 20px 0;
			}

			@media #{$screen767} { 
				margin: 0 0px 20px 0;
			}

		} 

		@media #{$screen970} { 
			.adress:nth-child(2n+2) {
				margin: 0 0px 30px 0;
			} 
		}


		.content-adress {
			min-height:150px;
			border-bottom:1px solid #000;
			margin-bottom:15px;
		}

		.bt-edit {
			border:2px solid $blue;
			padding: 3px 10px;
			font: 16px $robotobold;
			position:absolute;
			right:10px;
			top:10px;
			color:$blue;
			transition: all .1s ease .05s;

			&:hover {
				color:#fff;
				background:$blue;
				transition: all .1s ease .05s;
			}
		}

		.mtop-ajust {
			@media #{$screen767} {
				margin-right:0px;
				margin-top:20px;
			}
		}

		/* PG ENTREGA */

		/*PG PAGAMENTO*/
		.title-internal-blue {
			font:20px $robotobold;
			color:$blue;
			text-transform:uppercase;
		}

		.section-payment,
		.section-confirmation {
			border: 1px solid #adbfc6;
			padding: 20px 20px 0px 20px;
			margin-bottom: 30px;
			width:100%;
			/* display:inline-block; */
			float:left; 
		}
		.height-fix {
			min-height:415px;
			@media #{$screen767} {
				min-height:auto;
				margin-top: -5px;
			}
		}
		.to-deliver {
			padding-bottom:20px;

			p {
				font-size:15px;
			}
		}

		.row-request {
			display:inline-block;
			width:100%;
			padding-bottom:10px;
			@media #{$screen767} { 
				position:relative;
			}
		}
		.row-request+.row-request {
			border-top:1px solid #adbfc6;
			padding-top:20px;
			margin-bottom:15px;

			.bt-request {
				top:20px;
			}
		}

		.col-request {
			float:left;
			width:850px;
			@media #{$screen970} { 
				width: 570px;
			}

			@media #{$screen767} { 
				width:100%;
			}
		}

		.qtd-request {
			float:left;
			width:100px;


		}

		.name-product-request {
			float:left;
			width:650px;

			@media #{$screen970} { 
				width: 350px;
			}

			@media #{$screen767} { 
				width:100%;
			}
		}

		.price-request {
			float:left;

			@media #{$screen970} { 
				width: 110px;
			}

			@media #{$screen767} { 
				width: 100%;
				text-align: right;
				float: none;
				display: inline-block;
			}
		}

		.bt-arrow-action {
			padding: 2px 9px;
			font: 17px "roboto_condensedbold";
			right: 10px;
			top: 10px;
			transition: all .1s ease .05s;

			&:hover {
				color: #fff;
				transition: all .1s ease .05s;
			}
		}



		.bt-request {
			float:right;

			@media #{$screen767} { 
				top: 0px;
				position: absolute;
				right: 0;
			}
		}

		.info-request {
			font-size:18px;
		}

		.price-final {
			margin-right: 40px;
			width:110px;

			@media #{$screen970} { 
				margin-right: 97px;
			}

			@media #{$screen767} { 
				margin-right: 0px;
				text-align: right;
			}
		}

		.wrap-payment {
			.col-register2 {
				margin: 0 29px;
				@media #{$screen767} { 
					margin: 0;
				}
			}

			.col-register3 {
				@media #{$screen970} { 
					width: 308px;
					float: right;
					margin-left: 20px;
				}
				@media #{$screen767} { 
					width:100%;
					margin-left: 0;
				}
			}

			.list-form-register {
				li {
					margin-bottom: 35px;
				}
			}

			.remove-mbttom20 {
				@media #{$screen767} {
					margin-bottom:0;
				}
			}
		}

		.img-cod-seg {
			margin-left: 10px;
		}

		.card-validity {
			margin-top: 24px;
			display: inline-block;
			@media #{$screen970} {
				margin-top: -20px;
			}
		}

		.flags-card {
			width:100%;
			display:inline-block;
			margin-bottom:30px;

			@media #{$screen767} {
				margin-bottom:10px;
			}
		}
		.flags-list, .flag-list2 {
			display:inline-block;
			margin-right:40px;
			text-align:center;
			@media #{$screen767} {
				margin-right: 25px;
				width: 30%;
				margin-bottom: 15px;
			}


		}
		@media #{$screen767} {
			.flags-list+.flags-list+.flags-list+.flags-list {
				margin-right:0;
			}
		}

		.flags, .flags-transfer {
/* 			width:70px;
height:38px; */
display:block;
margin: 0 auto 5px;
@media #{$screen767} {
	max-width:100%;
}
}
/* 		.flags.visa {
			background-position:-2px 0;

			@media #{$screen767} {
				background-position: 5px 3px;
				background-size: 230px;
			}
		}
		.flags.master {
			background-position:-103px 0;	
			@media #{$screen767} {
				background-position: -62px 3px;
				background-size: 230px;
			}
		}
		.flags.american {
			background-position:-202px 0;
			@media #{$screen767} {
				background-position: -129px 3px;
				background-size: 236px;
			}
		}
		.flags.diners {
			background-position:-302px 0;
			@media #{$screen767} {
				background-position: -197px 3px;
				background-size: 236px;
			}
			} */

			.payment-methods {
				display: inline-block;
				margin-bottom: -5px;
				height: 30px;

				li {
					display: inline-block;
					margin-right: -4px;
					width:215px;
					a {

						background: #fff;
						border: 1px solid #adbfc6;
						/* border-bottom: 1px solid #fff; */
						padding: 8px 40px 8px 40px;
						margin-bottom: 0px;
						text-transform:uppercase;
						color:$blue;
					}
				}
			}

			.selected-methods {
				position:relative;
				z-index:9999;
			}

			.r-tabs .r-tabs-nav {
				margin: 0;
				padding: 0;
			}

/* 		.r-tabs .r-tabs-tab {
			display: inline-block;
			margin: 0;
			list-style: none;
			} */

			.r-tabs .r-tabs-panel {
				display: none;
			}

			.r-tabs .r-tabs-accordion-title {
				display: none;
			}

			.r-tabs .r-tabs-panel.r-tabs-state-active {
				display: block;
			}

			.r-tabs-state-active {
				a {
					border-bottom:1px solid #fff !important;
					padding: 15px 40px 8px 40px !important;
					@media #{$screen767} {
						border-bottom:none !important;
						padding: 8px 10px 8px 10px !important;
					}
				}
			}

			/* Accordion responsive breakpoint */
			@media only screen and (max-width: 768px) {
				.r-tabs .r-tabs-nav {
					display: none;
				}

				.r-tabs .r-tabs-accordion-title {
					display: block;
					margin-bottom:5px;
				}

				.r-tabs-accordion-title {
					a {
						width:100%;
						display:inline-block;
						background:#ededed;
						text-transform:uppercase;
						color:$blue;
						padding:10px;
						font: 17px "roboto_condensedbold";
					}
				}

				.r-tabs-accordion-title.r-tabs-state-active {
					a {
						width: 100%;
						display: inline-block;
						background: #11b6f0;
						text-transform: uppercase;
						color: #fff;
						padding: 10px;
					}
				}

			}

			.resp-arrow {
				display:none;
				border-left: 0px solid transparent;
				border-right: 0px solid transparent;
				border-bottom: 0px solid #fff;
			}
			.r-tabs-accordion-title.r-tabs-state-active {
				.resp-arrow {
					border: none;
					border-left: 0px solid transparent;
					border-right: 0px solid transparent;
					border-bottom: 0px solid #fff;
					display:none;
				}			
			}
			@media #{$screen767} {
				.resp-arrow {
					width: 0;
					height: 0;
					float: right;
					margin-top: 3px;
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;
					border-top: 12px solid $blue;
					display:inline-block;

				}

				.r-tabs-accordion-title.r-tabs-state-active {
					.resp-arrow {
						border: none;
						border-left: 12px solid transparent;
						border-right: 12px solid transparent;
						border-bottom: 12px solid #fff;
						display:inline-block;
					}			
				}

			}



			/*PG PAGAMENTO*/

			.content-order,
			.status-order {
				@media #{$screen767} {
					width:100%;
				}
			}
			.content-order {
				@media #{$screen767} {
					margin-bottom:25px;
				}
			}
			.order {
				padding-bottom:20px;
				margin-top: 20px;
				@media #{$screen767} {

				}
			}
			.txt-order {
				font-size:18px;
			}
			.num-order {
				font: 30px $robotobold;
			}


			.title-internal-confirmation {
				font:20px $robotobold;
				color:#fd571d;
			}

			.section-confirmation {

				.price-request {
					float:right;
					width:100px;
					text-align:right;
					@media #{$screen767} {
						width:100%;
					}
				}
				.price-final {
					margin-right:7px;
					text-align:right;
				}

				.col-request {
					float: left;
					width: 895px;
					@media #{$screen970} {
						width: 653px;
					}
					@media #{$screen767} {
						width: 100%;
					}
				}
			}

			.purchase-data {
				padding-bottom:20px;
			}
			.info-card-payment {
				width: 88%;
				float: left;
				margin-left: 30px;
				@media #{$screen970} {
					width:100%;
					margin-left: 0;
					margin-top:20px;
				}
			}
			.amount-paid {
				border-bottom:1px solid #adbfc6;
				padding-bottom:15px;
				margin-bottom: 15px;
				font-size:15px;
			}
			.card-used {
				font-size:15px;
				span{ 
					display:block;
				}
			}

			/* PAGAMENTO FIM */


			/* FALE CONOSCO */

			.col-larger-form {
				float:right;
				width:610px;

				@media #{$screen970} {
					width:380px;

					.half {
						width:100%;
					}
				}

				@media #{$screen767} {
					width:100%;

					.list-form-register {
						margin-top: 0;
					}
				}
			}
			.field-txt {
				border:1px solid #000;
				font-family: "roboto_condensedlight";
				font-size:15px;
				resize: none;
				padding:8px;
				height: 100px;
			}

			.title-internal-mgs-send {
				font:18px $robotobold;
				color:$dark-orange;	
			}


			/* FALE CONOSCO */



			/* DADOS CONTA */

			.wrap-menu-account-data {
				width: 100%;
				background:$dark-pink-heavy;
				margin-top: -30px;
				margin-bottom: 30px;
				height:50px;
				@media #{$screen767} {
					.row {
						padding:0;
					}
				}
			}


			.menu-account-data {
				padding-top: 12px;

				@media #{$screen767} {
					display:none;
					background:#ff008a;
					position:relative;
					z-index:99999;
					padding: 20px 15px 0 15px;
				}
				li {
					display: inline-block;
					width: 24.7%;
					text-align: center;
					position:relative;
					padding-bottom: 8px;


					@media #{$screen970} { 
						width:24.5%;
					}
					@media #{$screen767} { 
						width:100%;
						text-align: left;
						margin-bottom: 15px;
					}

					a {
						color:#fff;
						font: 18px $robotobold;
						letter-spacing: 1px;
					}
				}

				.current-account-data {
					border-bottom: 5px solid $purple;
					@media #{$screen767} {
						display:inline-block;
					}
				}

			}

			.menu-account-mob {
				position:relative;
				width:100%;
				display:none;
				@media #{$screen767} {
					display:inline-block;
					margin-top: 10px;
					padding:0 15px;
				}
				p{
					color:#fff;
					font: 18px $robotobold;
					float:left;
					letter-spacing: 1px;
				}

				.seta-mobile-account{
					line-height: 23px;
					position: absolute;
					right: -2px;
					top: -2px;
					height: 28px;
					width: 32px;
					font-size: 16px;
					border: 2px solid #fff;
					color: #fff;
					text-align: center;
					@media #{$screen767} {
						right:15px;
					}
				}

			}

			/* MINHA CONTA DADOS CONTA */


			/* MINHA CONTA ENDERECOS */

			.adress-user {
				.adress {
					min-height:300px;
					@media #{$screen767} {
						min-height:auto;
					}
				}

				.content-adress {
					min-height: 200px;
					border-bottom: 1px solid #000;
					margin-bottom: 15px;
					@media #{$screen767} {
						min-height:150px;
					}
				}
			}

			/* MINHA CONTA ENDERECOS */


			/* MINHA CONTA FAVORITOS */

			.wrap-content-four-line {
				display:inline-block;
				width:100%;
			} 

			.wrap-content-four-line .wine-card {
				width: 220px;
				display: inline-table;
				margin-right: 17px;

				@media #{$screen767} { 
					width:100%;
					margin-bottom:20px;
					margin-right: 0;
				}
			}

			.wrap-content-four-line .wine-card:nth-child(4n+4) {
				margin: 0 0px 0px 0;



				@media #{$screen970} { 
					margin: 0 17px 0px 0;
				}

				@media #{$screen767} { 
					margin-right:0;
					margin-bottom: 20px;
				}

			} 

			@media #{$screen970} { 
				.wrap-content-four-line .wine-card:nth-child(3n+3) {
					margin-right:-1px;
				} 
			}

			.wrap-pagination-favorites {
				width:100%;
				display:inline-block;
				margin-bottom:20px;
			}

			.container-left-pag {
				width:700px;
				float:right;
				@media #{$screen970} {
					width:450px;
				}
				@media #{$screen767} {
					width:100%;

					ul.pagination {
						float: right;
						text-align: center;
					}
				}
			}

			.search-internal {
				float:left;
				width:220px;
				border:1px solid #000;
				@media #{$screen767} {
					width: 100%;
					float: none;
					display: inline-block;
					margin: 15px 0;
				}
			}

			.input-serach-internal {
				padding: 5px 6px 5px 3px;
				width: 78%;
				border: 0;
				font-size: 15px;
				font-family: "roboto_condensedlight";
			}

			.bt-search-internal {
				background-position: -208px -197px;
				border: 0 solid;
				cursor: pointer;
				float: right;
				height: 23px;
				width: 30px;
				margin-top: 2px;
			}

			/* MINHA CONTA FAVORITOS */

			/* MINHA CONTA PEDIDOS */

			.row-request-account {
				width:100%;
				border:1px solid #adbfc6;
				padding:20px;
				display:inline-block;
				margin-bottom:20px;
			}
			.col-request-account {
				display:inline-block;
				width:100%;
			}

			.wrap-pag-header {
				width:100%;
				display:inline-block;
				margin-bottom:10px;

				@media #{$screen767} {
					.container-total-products {
						float: left;
						width: 100%;
						border-bottom: 1px solid #adbfc6;
						padding-bottom: 15px;
						margin-bottom: 10px;
					}

					ul.pagination {
						text-align: right;
						width: 100%;
					}

				}


			}

			.num-request-account,
			.num-request-date, 
			.num-request-price, 
			.num-request-status {
				float:left;


			} 






			.num-request-account {
				width:240px;
				@media #{$screen970} {
					width:170px;
				}
			}

			.num-request-date {
				width:240px;
				@media #{$screen970} {
					width:170px;
				}
			}

			.num-request-price {
				width:220px;
				@media #{$screen970} {
					width:140px;
				}
			}

			.num-request-status {
				width:165px;
				@media #{$screen970} {
					width:140px;
				}
			}

			p.title-info-req {
				font-size:15px;
			}

			span.title-txt-req {
				font: 18px $robotobold;
				color:#000;
			}

			.num-request-cod {
				color:$purple;
				font: 18px $robotobold;
			}



			@media #{$screen767} {
				.num-request-account,
				.num-request-date, 
				.num-request-price {
					border-bottom: 1px solid #adbfc6;
					width: 100%;
					display: inline-block;
					padding-bottom: 10px;
					margin-bottom: 10px;
				}

				.num-request-status {
					width: 100%;
					display: inline-block;
					padding-bottom: 10px;
					margin-bottom: 0px;
				}

				p.title-info-req {
					font-size:15px;
					float:left;
				}

				span.title-txt-req {
					font: 15px $robotobold;
					float:right;
				}

				.num-request-cod {
					float:right;
				}

			}

			.section-payment {
				@media #{$screen767} {
					span.title-txt-req {
						font: 17px "roboto_condensedbold";
						float: left;
					}
				}
			}



			/* MINHA CONTA PEDIDOS */

			/* MINHA CONTA DETALHES DO PEDIDOS  */



			.title-internal {
				font:20px $robotobold;
				color:$blue;
				text-transform:uppercase;
			}

			/* MINHA CONTA DETALHES DO PEDIDOS  */


			/* PRIVACIDADE  */
			.term-of-use,
			.security-policy {
				max-width:48%;

				@media #{$screen767} {
					max-width:100%;
				}

				p{
					font: 15px $robotolight;
					margin-top:20px;
				}
			}
			.term-of-use {
				float:left;
			}
			.security-policy {
				float:right;
				@media #{$screen767} {
					margin-top:20px;
				}

			}

			.doubts {
				border-top: 1px solid #7f7f7f;
				margin:25px 0 20px 0;
				padding-top:25px;
				width:100%;
				display:inline-block;

				p {
					font-size:15px;
					span {
						font:15px $robotobold;
						color:$darkblue;
					}
				}
			}
			/* PRIVACIDADE  */


			/* DUVIDAS FREGUENTES  */
			.colum-620 {
				width:620px;
				float:left;
				margin-bottom: 20px;

				@media #{$screen970} {
					width:460px;
				}
				@media #{$screen767} {
					width:100%;

					.half {
						width:100%;
					}
				}
			}

			.sidebar {
				width:300px;
				float:right;

				@media #{$screen970} {
					width:220px;
				}
				@media #{$screen767} {
					width:100%;
					margin-top:0;
				}

				p{
					margin-bottom:20px;
				}
				span {
					font:15px $robotobold;
					display:block;
				}

			}

			.item-acordion {
				margin-bottom: 14px;
				padding-bottom:14px;
				border-bottom: 1px solid #7f7f7f;

				@media #{$screen767} {
					&:last-child {
						border-bottom: none;
					}
				}



				.title-internal-15 {
					width: 95%;
					display: inline-block;
					cursor:pointer;
					@media #{$screen767} {
						width: 90%;
					}
				}
			}





			.conteudo-accordion {
				display: none;
				width: 100%;
				padding: 15px 15px 0px 15px;

				p {
					margin-bottom: 20px;
				}
			}

			.seta-accordion-interna.arrow-up {
				background-position: 0 -7px;
			}
			.seta-accordion-interna {
				background: url($imgPath + "arrow-accordion.png") no-repeat;
				width: 21px;
				height: 21px;
				float: right;
				margin-top:-5px;
				background-position: 0 14px;
				cursor:pointer;
			}


			/* DUVIDAS FREGUENTES  */

			/* SOBRE A VINCI  */

			.bg-sobre-vinci {
				height:450px;
				@media #{$screen767} {
					height:440px;
				}

				.internal-subtitle {
					color:#de1e43; 
					font: 40px $robotobold;
					width: 50%;
					line-height: 40px;
					margin-top: 20px;

					@media #{$screen767} {
						font: 30px;
						width:100%;
					}
				}
			}



			.about-vinci {
				p{
					margin-bottom: 20px;
				}
			}

			.container-maps {
				width:100%;
				iframe {
					width:100%;
				}
			}


			/* SOBRE A VINCI  */

			/* REVENDEDORES  */
			.colum-dealers {
				width:50%;

				@media #{$screen767} {
					width:40%;
				}

				li {
					margin-bottom:20px;
					@media #{$screen970} {
						padding-right:15px;
					}

					@media #{$screen767} {
						padding-right:0px;
					}
				}
			}

			/* REVENDEDORES  */


			.internal-subtitle-category {
				font: 40px $robotobold;
				text-transform:uppercase;
				letter-spacing: 1px;
				margin: 0;
				display: inline-block;

				@media #{$screen970} {
					font: 35px "roboto_condensedbold";
					margin-top: 15px;
				}
			}


			/* select */

			.select-standard {
				padding: 0;
				outline: 0;
				border: 1px solid #d6d6d6;
				font-size:0.9em;
				color:#000;
				height:30px;
				position:relative;
				background-color:#f8f8f8;

				&:focus {
					border-color: $blue;
					outline: 0;
				}
				&:hover {
					border-color: $blue;
				}

				/*Color White select*/
				&.form-control-white,
				&.form-control-white:after{
					background-color:#fff;
				}
				&.form-control-blue,
				&.form-control-blue:after{
					background-color:$blue;
				}
				select {
					width: 100%;
					border: none;
					margin: 0;
					background-color: transparent;
					-webkit-appearance: none;
					outline: none;
					padding:3px 35px 3px 15px;
					height:100%;
					font-size: 15px;
					font-family: "roboto_condensedlight";

					&:focus {
						border-color: $blue;
						outline: 0;
/* 				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
}
}

/* Aqui imagem da seta */

&:before{
	content: "";
	background: url($imgPath + "seta-select.jpg") no-repeat center center;
	width: 30px;
	height: 26px;
	z-index: 2;
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 0;
	margin-top: 1px;
	background-position: 10px 14px; 
}

/*Aqui imagem do quadro branco que vai ficar sempre do lado direito abaixo da seta*/    
&:after {
	content: "";
	position: absolute;
	background-color: #f8f8f8;
	pointer-events: none;
	width:35px;
	height:100%;
	right: 0;
	top: 0;
	z-index: 1;
}
}

.display-filter {
	.select-standard {
		&:before{
			content: "";
			background: url($imgPath + "seta-select.jpg") no-repeat center center;
			width: 30px;
			height: 26px;
			z-index: 2;
			pointer-events: none;
			position: absolute;
			right: 1px;
			top: 0;
			margin-top: 1px;
			background-position: 10px 10px; 
		}
	}
}
.wrap-compra-dados-venda {
	.select-standard:before {
		content: "";
		background: url("../images/seta-select.jpg") no-repeat center center;
		width: 30px;
		height: 26px;
		z-index: 2;
		pointer-events: none;
		position: absolute;
		right: 1px;
		top: 0;
		margin-top: 1px;
		background-position: 10px 10px;
	}
}

option {
	font-family: $robotolight;
}

/* Hack select*/
.ie-edge .select-standard select,
.ie-11 .select-standard select,
.ie-10 .select-standard select,
.ie-9 .select-standard select{
	width:119%;
}
/* Hack select >> Remove default browser select*/
.ie-edge .select-standard,
.ie-11 .select-standard,
.ie-10 .select-standard,
.ie-9 .select-standard{
	overflow-x:hidden;
}


.menu-fixo {
	z-index: 999999;
	opacity: 0;
	top: 0;
	background:$blue;
	position:fixed; 
}
.category-fixed {
	z-index: 9999;
	opacity: 0;
	top: 70px;
	position: fixed;
	padding-top:5px;
	@media #{$screen970} {
		top: 62px;
	}
}

.center-height {
	height:56px;
	display:table;
}

.titles-category-fixed {
	/* background: url($imgPath + "bg-transparente.png") repeat center center; */
	background:#fff;
	box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.2);
	width:100%;
	height:56px;
	display:none;
	transition: all .25s ease-in-out;
}

.opacity1 {
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
	transition: all .25s ease-in-out;
}
.loading-container {
	text-align:center;
}
.loading-container-cart {
	@media #{$screen767} {
		margin-bottom: 10px;
	}

	img {
		position:absolute;
		top:0px;
		left:50%;
		margin-left:-30px;
		@media #{$screen767} {
			top:-40px;
		}
	}
}
.loading_gif {
	margin:0 auto;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
	display: none !important;
}

ng\:form {
	display: block;
}

.ng-animate-shim {
	visibility:hidden;
}

.ng-anchor {
	position:absolute;
}
