@import "reset";
@import "variaveis";
@import "media";
@import "fonts";
@import "menu";
@import "templates"; 
@import "footer";

body {
	font-family: $robotolight;
}
.show-desktop {
	@media #{$screen-767}{
		display:none !important;
	}
}
.show-mobile {
	display:none !important;
	@media #{$screen-767}{
		display:inline-block !important;
	}
} 
.row.top90 {
	margin: 90px auto 0;
}

.relative {
	position: relative;
}

.row-header {
	max-width: 963px;
	margin:0 auto;
	padding:0 10px;
	@media #{$screen-767}{
		padding:0 15px;
	}
}

.row {
	max-width: 963px;
	margin:0 auto;
	padding:0 10px;

	@media #{$screen-970}{
		max-width:700px;
	}

	@media #{$screen-767}{
		padding:0 15px;
	}
}

.featured-sub-menu{}

/* menu principal*/
.slider-main {
	width:100%;
}

/* slider principal*/
.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	zoom: 1;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	outline: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.wrap-slider-principal {
	margin-top: -106px;
}

.slider-principal {
	width: 100%;
	height: 500px;
	@media #{$screen-767}{
		height: 400px;
	}
}

.descr-slider {
	width: 400px;
	color: #fff;
	padding: 110px 0px;
	position: relative;
	height: 500px;
	@media #{$screen-767}{
		width:250px;
	}

	a.bt-default {
		display:inline-block;
		margin:15px 0 0 0;
	}

}

h3.title-slider {
	font-size: 40px;
	font-family:$robotobold;
	line-height: 37px;
	text-transform: uppercase;
	@media #{$screen-767}{
		font-size: 22px;
		line-height: 26px;
	}

	span {
		color:#fff;
	}
}

.sub-title-slider {
	font-size: 30px;
	display: block;
	margin-top:15px;
	color:#fff;
	font-family:$robotobold;
	@media #{$screen-767}{
		font-size: 22px;
	}

}

.txt-slider {
	color: #fff;
	font-family:$robotolight;
	font-size:15px;
	@media #{$screen-767}{
		display:none;
	}
}

a.bt-default {
	padding: 2px 2px 2px 16px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-family:$robotobold;
	letter-spacing: 0.6px;
}

.arrow-link {
	right: 2px;
	bottom: 2px;
	height: 26px;
	width: 26px;
	text-align: center;
	padding: 3px 0 0 0;
	font-family: "roboto_condensedbold";
	font-size: 16px;
	display:inline-block;
	margin-left: 15px;
}

.conteudo-slider-principal {
	max-width: 960px;
	margin: 0 auto;
	height: 500px;
	padding: 25px 30px;
	background-position: 73% bottom !important;
	position:relative;

	@media #{$screen-970}{
		max-width:700px;
		background-position: 100% bottom !important;
	}

	@media #{$screen-767}{
		padding: 25px 15px;
		background-size: 170px !important;
		height: 400px;
	}

}

.seal-slider {
	position: absolute;
	top: 120px;
	right: 350px;
	@media #{$screen-970}{
	right: 150px; 
	}
	@media #{$screen-767}{
		display:none;
	}
}

.w960 {
	max-width: 960px;
	margin: -38px auto;
}

.w960 .slick-dots {
	position: inherit;
	text-align: center;
	margin-left: -15px;
}

.w960 .slick-dots li {
	height: 5px;
	display: inline-block;
	margin: 0 5px;
}

.w960 .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 5px;
	cursor: pointer;
	border: 0;
	outline: none;
	background: #fff;
	opacity: 0.5;
}

.w960 .slick-dots li.slick-active button {
	background: #fff;
	height: 5px;
	opacity: 0.9;
}

.setas-slider-principal {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.slick-prev {
	position: absolute;
	left: 10px;
	top: -130px;
	background: url("../img/setas-slider.png");
	font-size: 0;
	width: 17px;
	height: 26px;
	background-position: 0px 0;
	border: 0px;
	outline: none;
	display:none !important;
}

.slick-next {
	position: absolute;
	right: 10px;
	top: -130px;
	background: url("../img/setas-slider.png");
	font-size: 0;
	width: 17px;
	height: 26px;
	background-position: 17px 0;
	border: 0px;
	outline: none;
	display:none !important;
}

.wrap-slider-itens {
	margin-top: 30px;
}

.cols-products {
	width: 218px;
	margin-right: 20px;
	display: inline-table;
	vertical-align: top;

	@media #{$screen-970}{
		width: 210px;
	}

	@media #{$screen-767}{
		width:100%;
		margin:15px 0 20px 0;
	}

}

.cols-products+.cols-products+.cols-products {
	@media #{$screen-970}{
		margin-right: 0;
	}
}



.cols-products+.cols-products+.cols-products+.cols-products {
	margin-right:0;
	@media #{$screen-767}{
		display:inline-table;
		margin-bottom:0;
	}

}

.title-category {
	font:22px $robotobold;
	line-height: 23px;
	margin: 0 0 17px 20px;
	text-transform: uppercase;
	width: 170px;
	text-align: left;
	min-height: 50px;

	@media #{$screen-767}{
		margin:0 0 20px 0px;
		min-height: auto;
	}

}

.favorite {
	background: url($imgPath + "sprites-heart.png") no-repeat top left;
	cursor:pointer;
	position:absolute;
	right:9px;
	top:9px;
	height:27px;
	width:29px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.25s ease-in-out;
}

.opacity1 {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	transition: all 0.25s ease-in-out;
}



.wine-card {
	width:100%;
	border:1px solid #000;
	padding:20px;
	text-align:left;
	margin-bottom:20px;
	position:relative;

	&:hover{
		.favorite{
			opacity: 1;
			filter: alpha(opacity=1000);
		}
	}

	a{
		color:$black;
	}
}
.wine-bottle {
	max-width:100%;
}

.wine-intro {
	font:13px $robotolight;
	margin:5px 0 0 0;
	line-height: 13px;
}

.content-card-product {
	width:100%;
	display:inline-block;
	margin-top: 18px;
}

.thumb-wine {
	float:left;
	position:relative;
	margin-right: 9px;
	width:50px;
}
.label-wine{
	position:absolute;
	left: -15px;
	top: -2px;
}

.other-wine-info {}

.in {
	font:13px $robotolight;
	margin-top:20px;

	span {
		text-decoration: line-through;
	}

}

.title-card-wine {
	font:18px $robotobold;
	text-transform: uppercase;
	line-height: 18px;
	width: 80%;

	span {
		font:15px $robotolight;
		display:block;
		text-transform:none;
	}

}

.wine-price { font:27px $robotobold; }

.bt-default-full {
	width: 100%;
	line-height: 26px;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-family: roboto_condensedbold;
	font-size: 16px;
	text-transform:uppercase;
	padding: 2px 2px 2px 16px;
	letter-spacing: 0.6px;

	.arrow-link {
		padding:1px 0 0 0;
		float:right;
		background:#fff;
		font-size:11px;
	}

}

.wrap-banners {
	width:100%;
	margin-bottom:40px;
	@media #{$screen-767}{
		margin-bottom:10px;
	}
}

.banners{
	width:100%;
	display:inline-block;
	@media #{$screen-990}{
		max-width: 726px;
		margin: 0 auto;
		display:inherit;
	}
}
.list-banners{
	width:49.5%;
	display:inline-block;
	@media #{$screen-990}{
		width:48.5%;
	}
	@media #{$screen-767}{
		width:100%;
		text-align:center;
		margin-bottom: 15px;
	}

	img {
		max-width:100%;
		@media #{$screen-990}{
			max-width:98%;
		}
		@media #{$screen-767}{
			max-width:100%;
		}
	}

}
.list-banners+.list-banners {
	text-align:right;
	@media #{$screen-767}{
		text-align:center;
	}
}

/* MENU INTERNAL **********************/
.header-internal { 
	padding:0 0 10px 0;
	margin-bottom: 30px;
}

.breadcrumb {
	width: 100%;
	display: inline-block;
	z-index: 10;
	position: relative;
	margin: 5px 0 0 0;
	@media #{$screen-970}{
		display:none;
	}
}
.breadcrumb-item {
	float: left;
	color: #fff;
	padding: 0 7px 0 0px;
	margin: 0 3px 0 0px;

	span{
		margin-right: 5px;
		font-size: 15px;
	}
}
.breadcrumb-link {
	color: #fff;
}

.internal-subtitle {
	font: 32px $robotobold;
	color:#000;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin: 0;
	display: inline-block;

	@media #{$screen-970}{
		font: 25px "roboto_condensedbold";
		margin-top: 15px;
	}
}

.search-item {
	font-size:25px;
	color:#fff;
	margin-top: -5px;
}

/* FIM MENU INTERNAL *********************/

/* PG SEARCH*/
.header-content-internal {
	width:100%;
	display:inline-block;
	margin-bottom: 20px;
}
.container-total-products {
	float:left;
}
.total-products {
	font:25px $robotobold;
	color:$black;
}

.display-filter {
	float:right;
	margin-left: 30px;

	span {
		margin-right:20px;
		margin-top: 3px;
		display: inline-block;
	}

	@media #{$screen-767} {
		float: right;
		width: 100%;
		margin-top: 5px;
	}

	span{
		@media #{$screen-767} {
			display:none;
		}
	}
	select{
		@media #{$screen-767} {
			width:100%;	
		}

	}

}

.select-widthfull{
	@media #{$screen-767} {
		width:100%;	
	}
}

.search-column {
	width:23.4%;
	border:1px solid #d6d6d6;
	padding:19px;
	margin-right:20px;
	float:left;
	@media #{$screen-970}{
		width: 29%;
		margin-right:0;
	}
	@media #{$screen-767}{
		position: fixed;
		top: 0px;
		z-index: 999999;
		left: -5px;
		padding: 20px 20px;
		height: 100% !important;
		overflow: auto;
		min-height: auto;
		background: #fff;
		width: 250px;
		border:none;
	}
}

.filtro-mobile{
	font:20px $robotobold;
	color:$black;
	width:100%;
	border-bottom:1px solid #d6d6d6;
	padding-bottom:10px;
	margin-bottom:10px;

	span{
		border:2px solid #000;
		float:right;
		padding: 0px 7px;
		font-size:15px;
	}
}

.filter-search {
	margin-bottom:30px;
}
.title-filter{
	font:16px $robotobold;
	color:$black;
	text-transform:uppercase;
}

.filter-search{
	display:inline-block;
	width:100%;
}

.filter-search-item{
	border-bottom:1px solid #fff;
	display: inline-block;
	width: 100%;
	&:hover {
		border-bottom:1px solid #06362b;
	}
}

.subitem-filter-search li{
	float:left;
	text-align:left;
	width:80%;
	a {
		color:#1d1d1d;
		display:inline-block;
		width:100%;
	}

}

.subitem-filter-search li+li {
	width:20%;
	float:right;
	text-align:right;
}
.see-more-filter,
.see-less-filter{
	cursor:pointer;
	font-size: 15px;
	color:$blue;
	text-transform:uppercase;
}

.colum-description-wine {
	float: left;
	width: 340px;
}

.column-products-search-inline {
	width:73.9%;
	float:right;

	@media #{$screen-970}{
		width: 68%;
	}

	@media #{$screen-767}{
		width: 100%;
	}


	.wine-card{
		display:inline-block;
	}
	.other-wine-info{
		width: 180px;
		float: right;
		text-align: right;

		@media #{$screen-767}{
			width: 76%;
			float: left;
			text-align: left;
		}
	}
}

.colum-description-wine{
	float:left;
	@media #{$screen-970}{
		width: 42%;
	}
	@media #{$screen-767}{
		width: 70%;
	}
}


.bg-layer-filtro{
	position: fixed;
	z-index: 99999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

.opacidade-coluna1{
	display: block;
	@media #{$screen-767}{
		display: none;

	}
}

.semopacidade-coluna1{
	display: none;
	@media #{$screen-767}{
		display: block;
	}
}



/* PG SEARCH*/


/* PG CADASTRO*/

.title-internal-15{
	font:18px $robotobold;
	color:$black;
}



.wrap-content-search{


}

.wrap-content-register {
	@media #{$screen-970}{
		max-width:700px;
		margin:0 auto;
	}
}

.col-register1,
.col-register2{
	width:280px;
	float:left;
	@media #{$screen-767}{
		width:100%;
	}
}
.col-register3{
	width:280px;
	float:right;
	@media #{$screen-767}{
		width:100%;
	}

}
.col-register2{
	margin:0 49px;

	@media #{$screen-990}{
		margin:0 30px;		
	}

	@media #{$screen-970}{
		float: right;
		margin-right: 0;
	}
}
.list-form-register {
	margin:30px 0 9px 0;
	li {
		margin-bottom: 25px;
		display:inline-block;
		width:100%;
	}
	.select-standard{
		border:1px solid #000;
		height: 35px;
	}
}

.input-register{
	border:1px solid #000;
	font-size: 13.5px;
	color: $black;
	padding: 8px 10px;

	&:focus {
		border:1px solid $blue;
	}
}
.error-field{
	border:1px solid $red;
}
.error-field{
	border:1px solid $red;
}
.half { width:50%; }
.sixty { width:60%; }
.two-fields { width:48%;}
.two-fields+.two-fields {float:right;}
.full { width:100%; }

.title-form {
	font: 18px $robotobold;
	color:$blue;
	text-transform:uppercase;
	margin-bottom:30px;
}

.search-cep {
	float:right;

	p{
		font-size:15px;
		color:$black;
		margin: -3px 0;
	}
	a {
		font-size:15px;
		color:$blue;
	}
}

.wrap-content-bt {
	width:100%;
	display:inline-block;
}

.content-bt {
	float:right;
	width:280px;
	@media #{$screen-767}{
		width:100%;
	}
}

/* PG CADASTRO*/


/* PG CATEGORIA */

.column-products-search-category {
	width:73.9%;
	float:right;

	@media #{$screen-970}{
		width:69.9%;
	}

	@media #{$screen-767}{
		width:100%;
	}
	
	.wine-card {
		width: 218px;
		display: inline-table;
		margin-left: 12px;
		@media #{$screen-970}{
			margin-left: 17px;
		}

		@media #{$screen-767}{
			width:100%;
			margin-left: 0px;
		}
	}

/* 	.wine-card:nth-child(3n) {
		margin-right:0px;
		} */

		.bt-default-full {
			width: 98%;
			margin-left: 2%;

			@media #{$screen-970}{
				width: 96%;
				margin-left: 4%;
			}

			@media #{$screen-767}{
				width:100%;
				margin-left: 0;
			}
		}


	}

	.category-description {
		color:#fff;
		width:70%;
		margin-bottom: 20px;
		@media #{$screen-767}{
			display:none;
		}
	}


	/* PG CATEGORIA*/


	/* MODAL */
	
	.modal-default {
		width: 340px;
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: 30%;
		margin-left: -170px;
		margin-top: -90px;
		z-index: 99999999;

		@media #{$screen-970}{
			top: 40%;
		}

		@media #{$screen-767}{
			width: 300px;
			margin-left: -150px;
		}
	}

	.title-modal-default {
		font: 30px "roboto_condensedbold";
		text-transform: uppercase;
		letter-spacing: 1px;
		@media #{$screen-767}{
			font-size:26px;
		}
	}

	.content-modal {
		padding:29px 29px 0 29px;

		.bt-default-full .arrow-link {
			font-size: 14px;
		}

		.list-form-register {
			margin: 15px 0 9px 0;
		}
	}

	.forgot-pass {
		font-size: 16px;
		color: #000;
		float: right;
		margin-top: 5px;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		height:100%;
		z-index: 9999999;
	}

	.modal-default, .overlay {
		display: none;
	}

	.footer-modal {
		background: $blue;
		width: 100%;
		display: inline-block;
		margin-top: 30px;
		padding: 20px 0;
	}

	.txt-register {
		font:18px $robotobold;
		color: #fff;
		display: inline-block;
		width: 200px;
		line-height: 18px;
		margin-left: 52px;
		text-transform: uppercase;

		@media #{$screen-767}{
			font: 16px "roboto_condensedbold";
			width: 193px;
			margin-left: 35px;
		}
	}

	.bt-arrow {
		border: 2px solid #fff;
		padding: 2px 9px;
		color: #fff;
		float: right;
		width: 27px;
		margin-right: 49px;
		margin-top: 4px;

		@media #{$screen-767}{
			margin-right: 38px;
		}
	}

	.close {
		border: 2px solid $blue;
		padding: 1px 9px;
		font: 16px "roboto_condensedbold";
		color: $blue;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	/* MODAL */


	/*PG PRODUTO*/

	.bg-product {
		width: 100%;
		position: absolute;
		height: 320px;
		margin-top: -30px;
	}

	.col-product-one,
	.col-product-two,
	.col-product-tree{
		width:300px;
		display:inline-table;
		min-height:300px;
		vertical-align:top;
		position:relative;
	}

	.col-product-two {
		text-align:center;
	}

	.col-product-four {
		width:300px;
		float:left;
		min-height:300px;
		background:#000;
		margin-top: -190px;
	}

	.col-product-five {
		width:300px;
		float:right;
		min-height:300px;
		background:#000;
		margin-top: -190px;
	}


	/*PG PRODUTO*/

	/* select */

	.select-standard {
		padding: 0;
		outline: 0;
		border: 1px solid #d6d6d6;
		font-size:0.9em;
		color:#000;
		height:30px;
		position:relative;
		background-color:#f8f8f8;

		/*Color White select*/
		&.form-control-white,
		&.form-control-white:after{
			background-color:#fff;
		}
		&.form-control-blue,
		&.form-control-blue:after{
			background-color:$blue;
		}
		select {
			width: 100%;
			border: none;
			margin: 0;
			background-color: transparent;
			-webkit-appearance: none;
			outline: none;
			padding:3px 35px 3px 15px;
			height:100%;
			font-size:14px;

			&:focus {
				border-color: #66afe9;
				outline: 0;
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
			}
		}

		/* Aqui imagem da seta */

		&:before{
			content: "";
			background: url($imgPath + "seta-select.jpg") no-repeat center center;
			width: 30px;
			height: 26px;
			z-index: 2;
			pointer-events: none;
			position: absolute;
			right: 1px;
			top: 0;
			margin-top: 1px;
		}

		/*Aqui imagem do quadro branco que vai ficar sempre do lado direito abaixo da seta*/    
		&:after {
			content: "";
			position: absolute;
			background-color: #f8f8f8;
			pointer-events: none;
			width:35px;
			height:100%;
			right: 0;
			top: 0;
			z-index: 1;
		}
	}

	/* Hack select*/
	.ie-edge .select-standard select,
	.ie-11 .select-standard select,
	.ie-10 .select-standard select,
	.ie-9 .select-standard select{
		width:119%;
	}
	/* Hack select >> Remove default browser select*/
	.ie-edge .select-standard,
	.ie-11 .select-standard,
	.ie-10 .select-standard,
	.ie-9 .select-standard{
		overflow-x:hidden;
	}

