/*caminho imagens*/
$imgPath:"../images/";
$fontsPath:"../fonts/";

/*cores*/
$white: #fff;
$blue: #11b6f0;
$red: #e02d50;
$green: #3cc811;
$purple: #791898;
$pink: #e411c3; 
$darkblue: #3438db; 
$orange: #ffa311;
$black: #111111;
$colorbt :#5d003b;
$dark-orange:#ff5400;
$dark-pink: #a0015f;
$dark-pink-heavy: #ff008a;


